@page
@model CityWatch.Web.Pages.Incident.ToolSelecterModel
@{
    ViewData["Title"] = "CityWatch Security | Tools";
    ViewData["PageName"] = CityWatch.Web.Helpers.PageNameHelper.Tools;
    var StiteLinkType = Model.ClientDataProvider.GetSiteLinksPageTypes();
}



<div class="container" role="main">
    <div class="center-block text-center m-2">
        @if (@StiteLinkType != null)
        {
            @foreach (var item in StiteLinkType)
            {
              
                @if (!item.PageTypeName.ToLower().Contains("state"))
                {
                    /* button not start with State*/
                    <a class="btn btn-primary dynamic-link" style="width:230px" id="@item.PageTypeName" href="Tools?st=@item.PageTypeName&&type=@item.Id">@item.PageTypeName</a>


                }
                else if (item.PageTypeName.ToLower().Contains("state"))
                {
                    /* button start with State and not in ACT,SA,NSW,TAS,NT,VIC,QLD,WA*/
                    if (item.PageTypeName.ToUpper().Contains("ACT") == false &&
                    item.PageTypeName.ToUpper().Contains("SA") == false &&
                    item.PageTypeName.ToUpper().Contains("NSW") == false &&
                    item.PageTypeName.ToUpper().Contains("TAS") == false &&
                    item.PageTypeName.ToUpper().Contains("NT") == false &&
                    item.PageTypeName.ToUpper().Contains("VIC") == false &&
                    item.PageTypeName.ToUpper().Contains("QLD") == false &&
                    item.PageTypeName.ToUpper().Contains("WA") == false
                    )
                    {
                        <a class="btn btn-primary dynamic-link" id="@item.PageTypeName" href="Tools?st=@item.PageTypeName&&type=@item.Id">@item.PageTypeName</a>

                    }

                }

            }


        }
    </div>


    @* @button start with State and in ACT,SA,NSW,TAS,NT,VIC,QLD,WA@*@

    @if (StiteLinkType.Where(x => x.PageTypeName.Contains("ACT")).FirstOrDefault() != null
    || (StiteLinkType.Where(x => x.PageTypeName.Contains("SA")).FirstOrDefault() != null))
    {
        var stateValueAct = StiteLinkType.Where(x => x.PageTypeName.Contains("ACT")).FirstOrDefault();
        var stateValueSA = StiteLinkType.Where(x => x.PageTypeName.Contains("SA")).FirstOrDefault();
        if (stateValueAct != null && stateValueSA != null)
        {
            <div class="center-block text-center m-2">

                <a class="btn btn-primary dynamic-link" id="ACT" href="Tools?st=ACT&&type=@stateValueAct.Id">@stateValueAct.PageTypeName</a>

                <a class="btn btn-primary dynamic-link" id="SA" href="Tools?st=SA&&type=@stateValueSA.Id">@stateValueSA.PageTypeName</a>

            </div>

        }
        else if (stateValueAct != null && stateValueSA == null)
        {
            <div class="center-block text-center m-2">
                <a class="btn btn-primary dynamic-link" id="ACT" href="Tools?st=ACT&&type=@stateValueAct.Id">@stateValueAct.PageTypeName</a>
            </div>

        }
        else if (stateValueAct == null && stateValueSA != null)
        {
            <div class="center-block text-center m-2">
                <a class="btn btn-primary dynamic-link" id="SA" href="Tools?st=SA&&type=@stateValueSA.Id">@stateValueSA.PageTypeName</a>
            </div>
        }

    }

    @if (StiteLinkType.Where(x => x.PageTypeName.Contains("NSW")).FirstOrDefault() != null
    || (StiteLinkType.Where(x => x.PageTypeName.Contains("TAS")).FirstOrDefault() != null))
    {
        var stateValueNSW = StiteLinkType.Where(x => x.PageTypeName.Contains("NSW")).FirstOrDefault();
        var stateValueTAS = StiteLinkType.Where(x => x.PageTypeName.Contains("TAS")).FirstOrDefault();
        if (stateValueNSW != null && stateValueTAS != null)
        {
            <div class="center-block text-center m-2">

                <a class="btn btn-primary dynamic-link" id="NSW" href="Tools?st=NSW&&type=@stateValueNSW.Id">@stateValueNSW.PageTypeName</a>

                <a class="btn btn-primary dynamic-link" id="TAS" href="Tools?st=TAS&&type=@stateValueTAS.Id">@stateValueTAS.PageTypeName</a>

            </div>

        }
        else if (stateValueNSW != null && stateValueTAS == null)
        {
            <div class="center-block text-center m-2">
                <a class="btn btn-primary dynamic-link" id="NSW" href="Tools?st=NSW&&type=@stateValueNSW.Id">@stateValueNSW.PageTypeName</a>
            </div>

        }
        else if (stateValueNSW == null && stateValueNSW != null)
        {
            <div class="center-block text-center m-2">
                <a class="btn btn-primary dynamic-link" id="TAS" href="Tools?st=TAS&&type=@stateValueTAS.Id">@stateValueTAS.PageTypeName</a>
            </div>
        }

    }

    @if (StiteLinkType.Where(x => x.PageTypeName.Contains("NT")).FirstOrDefault() != null
    || (StiteLinkType.Where(x => x.PageTypeName.Contains("VIC")).FirstOrDefault() != null))
    {
        var stateValueNT = StiteLinkType.Where(x => x.PageTypeName.Contains("NT")).FirstOrDefault();
        var stateValueVIC = StiteLinkType.Where(x => x.PageTypeName.Contains("VIC")).FirstOrDefault();
        if (stateValueNT != null && stateValueVIC != null)
        {
            <div class="center-block text-center m-2">

                <a class="btn btn-primary dynamic-link" id="NT" href="Tools?st=NT&&type=@stateValueNT.Id">@stateValueNT.PageTypeName</a>

                <a class="btn btn-primary dynamic-link" id="VIC" href="Tools?st=VIC&&type=@stateValueVIC.Id">@stateValueVIC.PageTypeName</a>

            </div>

        }
        else if (stateValueNT != null && stateValueVIC == null)
        {
            <div class="center-block text-center m-2">
                <a class="btn btn-primary dynamic-link" id="NT" href="Tools?st=NT&&type=@stateValueNT.Id">@stateValueNT.PageTypeName</a>
            </div>

        }
        else if (stateValueNT == null && stateValueVIC != null)
        {
            <div class="center-block text-center m-2">
                <a class="btn btn-primary dynamic-link" id="VIC" href="Tools?st=VIC&&type=@stateValueVIC.Id">@stateValueVIC.PageTypeName</a>
            </div>
        }

    }

    @if (StiteLinkType.Where(x => x.PageTypeName.Contains("QLD")).FirstOrDefault() != null
    || (StiteLinkType.Where(x => x.PageTypeName.Contains("WA")).FirstOrDefault() != null))
    {
        var stateValueQLD = StiteLinkType.Where(x => x.PageTypeName.Contains("QLD")).FirstOrDefault();
        var stateValueWA = StiteLinkType.Where(x => x.PageTypeName.Contains("WA")).FirstOrDefault();
        if (stateValueQLD != null && stateValueWA != null)
        {
            <div class="center-block text-center m-2">

                <a class="btn btn-primary dynamic-link" id="QLD" href="Tools?st=QLD&&type=@stateValueQLD.Id">@stateValueQLD.PageTypeName</a>

                <a class="btn btn-primary dynamic-link" id="WA" href="Tools?st=WA&&type=@stateValueWA.Id">@stateValueWA.PageTypeName</a>

            </div>

        }
        else if (stateValueQLD != null && stateValueWA == null)
        {
            <div class="center-block text-center m-2">
                <a class="btn btn-primary dynamic-link" id="QLD" href="Tools?st=QLD&&type=@stateValueQLD.Id">@stateValueQLD.PageTypeName</a>
            </div>

        }
        else if (stateValueQLD == null && stateValueWA != null)
        {
            <div class="center-block text-center m-2">
                <a class="btn btn-primary dynamic-link" id="WA" href="Tools?st=WA&&type=@stateValueWA.Id">@stateValueWA.PageTypeName</a>
            </div>
        }

    }



</div>


@section PageHeader {
    <h3 class="text-center">Tools</h3>
    }
