@page
@using CityWatch.Data.Enums;
@using CityWatch.Data.Models;
@using CityWatch.Data.Providers;
@using CityWatch.Web.Services;
@using CityWatch.Data.Helpers
@using CityWatch.Web.Helpers;
@using Microsoft.Extensions.Configuration
@model CityWatch.Web.Pages.Incident.ToolSelecterModel
@inject IViewDataService viewDataServiceNew


@{
    ViewData["Title"] = "CityWatch Security | Tools";
    ViewData["PageName"] = CityWatch.Web.Helpers.PageNameHelper.Tools;
    var StiteLinkType = Model.ClientDataProvider.GetSiteLinksPageTypes();
}



<div class="container" role="main">
    <div class="center-block text-center m-2">
        @if (@StiteLinkType != null)
        {
            @foreach (var item in StiteLinkType)
            {
              
                @if (!item.PageTypeName.ToLower().Contains("state"))
                {
                    /* button not start with State*/
                    <a class="btn btn-primary dynamic-link" style="width:230px" id="@item.PageTypeName" href="Tools?st=@item.PageTypeName&&type=@item.Id">@item.PageTypeName</a>


                }
                else if (item.PageTypeName.ToLower().Contains("state"))
                {
                    /* button start with State and not in ACT,SA,NSW,TAS,NT,VIC,QLD,WA*/
                    if (item.PageTypeName.ToUpper().Contains("ACT") == false &&
                    item.PageTypeName.ToUpper().Contains("SA") == false &&
                    item.PageTypeName.ToUpper().Contains("NSW") == false &&
                    item.PageTypeName.ToUpper().Contains("TAS") == false &&
                    item.PageTypeName.ToUpper().Contains("NT") == false &&
                    item.PageTypeName.ToUpper().Contains("VIC") == false &&
                    item.PageTypeName.ToUpper().Contains("QLD") == false &&
                    item.PageTypeName.ToUpper().Contains("WA") == false
                    )
                    {
                        <a class="btn btn-primary dynamic-link" id="@item.PageTypeName" href="Tools?st=@item.PageTypeName&&type=@item.Id">@item.PageTypeName</a>

                    }

                }

            }


        }
    </div>


    @* @button start with State and in ACT,SA,NSW,TAS,NT,VIC,QLD,WA@*@

    @if (StiteLinkType.Where(x => x.PageTypeName.Contains("ACT")).FirstOrDefault() != null
    || (StiteLinkType.Where(x => x.PageTypeName.Contains("SA")).FirstOrDefault() != null))
    {
        var stateValueAct = StiteLinkType.Where(x => x.PageTypeName.Contains("ACT")).FirstOrDefault();
        var stateValueSA = StiteLinkType.Where(x => x.PageTypeName.Contains("SA")).FirstOrDefault();
        if (stateValueAct != null && stateValueSA != null)
        {
            <div class="center-block text-center m-2">

                <a class="btn btn-primary dynamic-link" id="ACT" href="Tools?st=ACT&&type=@stateValueAct.Id">@stateValueAct.PageTypeName</a>

                <a class="btn btn-primary dynamic-link" id="SA" href="Tools?st=SA&&type=@stateValueSA.Id">@stateValueSA.PageTypeName</a>

            </div>

        }
        else if (stateValueAct != null && stateValueSA == null)
        {
            <div class="center-block text-center m-2">
                <a class="btn btn-primary dynamic-link" id="ACT" href="Tools?st=ACT&&type=@stateValueAct.Id">@stateValueAct.PageTypeName</a>
            </div>

        }
        else if (stateValueAct == null && stateValueSA != null)
        {
            <div class="center-block text-center m-2">
                <a class="btn btn-primary dynamic-link" id="SA" href="Tools?st=SA&&type=@stateValueSA.Id">@stateValueSA.PageTypeName</a>
            </div>
        }

    }

    @if (StiteLinkType.Where(x => x.PageTypeName.Contains("NSW")).FirstOrDefault() != null
    || (StiteLinkType.Where(x => x.PageTypeName.Contains("TAS")).FirstOrDefault() != null))
    {
        var stateValueNSW = StiteLinkType.Where(x => x.PageTypeName.Contains("NSW")).FirstOrDefault();
        var stateValueTAS = StiteLinkType.Where(x => x.PageTypeName.Contains("TAS")).FirstOrDefault();
        if (stateValueNSW != null && stateValueTAS != null)
        {
            <div class="center-block text-center m-2">

                <a class="btn btn-primary dynamic-link" id="NSW" href="Tools?st=NSW&&type=@stateValueNSW.Id">@stateValueNSW.PageTypeName</a>

                <a class="btn btn-primary dynamic-link" id="TAS" href="Tools?st=TAS&&type=@stateValueTAS.Id">@stateValueTAS.PageTypeName</a>

            </div>

        }
        else if (stateValueNSW != null && stateValueTAS == null)
        {
            <div class="center-block text-center m-2">
                <a class="btn btn-primary dynamic-link" id="NSW" href="Tools?st=NSW&&type=@stateValueNSW.Id">@stateValueNSW.PageTypeName</a>
            </div>

        }
        else if (stateValueNSW == null && stateValueNSW != null)
        {
            <div class="center-block text-center m-2">
                <a class="btn btn-primary dynamic-link" id="TAS" href="Tools?st=TAS&&type=@stateValueTAS.Id">@stateValueTAS.PageTypeName</a>
            </div>
        }

    }

    @if (StiteLinkType.Where(x => x.PageTypeName.Contains("NT")).FirstOrDefault() != null
    || (StiteLinkType.Where(x => x.PageTypeName.Contains("VIC")).FirstOrDefault() != null))
    {
        var stateValueNT = StiteLinkType.Where(x => x.PageTypeName.Contains("NT")).FirstOrDefault();
        var stateValueVIC = StiteLinkType.Where(x => x.PageTypeName.Contains("VIC")).FirstOrDefault();
        if (stateValueNT != null && stateValueVIC != null)
        {
            <div class="center-block text-center m-2">

                <a class="btn btn-primary dynamic-link" id="NT" href="Tools?st=NT&&type=@stateValueNT.Id">@stateValueNT.PageTypeName</a>

                <a class="btn btn-primary dynamic-link" id="VIC" href="Tools?st=VIC&&type=@stateValueVIC.Id">@stateValueVIC.PageTypeName</a>

            </div>

        }
        else if (stateValueNT != null && stateValueVIC == null)
        {
            <div class="center-block text-center m-2">
                <a class="btn btn-primary dynamic-link" id="NT" href="Tools?st=NT&&type=@stateValueNT.Id">@stateValueNT.PageTypeName</a>
            </div>

        }
        else if (stateValueNT == null && stateValueVIC != null)
        {
            <div class="center-block text-center m-2">
                <a class="btn btn-primary dynamic-link" id="VIC" href="Tools?st=VIC&&type=@stateValueVIC.Id">@stateValueVIC.PageTypeName</a>
            </div>
        }

    }

    @if (StiteLinkType.Where(x => x.PageTypeName.Contains("QLD")).FirstOrDefault() != null
    || (StiteLinkType.Where(x => x.PageTypeName.Contains("WA")).FirstOrDefault() != null))
    {
        var stateValueQLD = StiteLinkType.Where(x => x.PageTypeName.Contains("QLD")).FirstOrDefault();
        var stateValueWA = StiteLinkType.Where(x => x.PageTypeName.Contains("WA")).FirstOrDefault();
        if (stateValueQLD != null && stateValueWA != null)
        {
            <div class="center-block text-center m-2">

                <a class="btn btn-primary dynamic-link" id="QLD" href="Tools?st=QLD&&type=@stateValueQLD.Id">@stateValueQLD.PageTypeName</a>

                <a class="btn btn-primary dynamic-link" id="WA" href="Tools?st=WA&&type=@stateValueWA.Id">@stateValueWA.PageTypeName</a>

            </div>

        }
        else if (stateValueQLD != null && stateValueWA == null)
        {
            <div class="center-block text-center m-2">
                <a class="btn btn-primary dynamic-link" id="QLD" href="Tools?st=QLD&&type=@stateValueQLD.Id">@stateValueQLD.PageTypeName</a>
            </div>

        }
        else if (stateValueQLD == null && stateValueWA != null)
        {
            <div class="center-block text-center m-2">
                <a class="btn btn-primary dynamic-link" id="WA" href="Tools?st=WA&&type=@stateValueWA.Id">@stateValueWA.PageTypeName</a>
            </div>
        }

    }



</div>

<div id="modelGuardLoginTrainingAndAssessment" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">
                    Guard Access permission for Training And Assessment
                </h6>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <form id="frm_GuardLogin" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="input-group">
                                    <label class="mt-2 mr-2">Security License No</label><br />
                                    <input class="form-control" type="text" id="txt_securityLicenseNoTrainingAndAssessment">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-primary" id="btnGuardLoginTrainingAndAssessment" title="Get guard details"><i class="fa fa-sign-in mr-2"></i><span class="d-none d-md-inline-flex">Get access permission</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer" style="display:block">
                <div class="text-left ml-3">
                    <div asp-validation-summary="All" id="GuardLoginValidationSummaryTrainingAndAssessment"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="loginHrEditGuard" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="loginHrEditGuardLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">HR Document PIN</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <form id="frm_GuardLogin" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="input-group">
                                    <label class="mt-2 mr-2">Enter your PIN</label><br />
                                    <input class="form-control" type="password" id="txt_guardKey" />
                                    <input type="hidden"  id="GuardLog_GuardLogin_GuardId" />
                                </div>
                                <div class="mt-2 d-flex justify-content-between align-items-center">
                                    <div class="text-start" style="flex-grow: 1;">
                                        <a href="#" id="forgotpassword" style="text-align: left; display: inline-block;">Forgot password?</a>
                                        <div class="spinner-border spinner-border-sm pl-2 d-none" id="spinner" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary" id="btnGuardHrUpdateForTraining" title="Get Access to HR documents">
                                        <i class="fa fa-sign-in mr-2"></i>
                                        <span class="d-none d-md-inline-flex"></span>
                                    </button>
                                    @* <input type="hidden" id="hidden_guardKey" value="@Model.GuardLog.ClientSiteLogBook.ClientSite.Name" /> *@
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer" style="display:block">
                <div class="text-left">
                    <div asp-validation-summary="All" id="GuardLoginValidationSummaryHR" class="pl-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addGuardModalnew" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="addGuardModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add/Edit Compliance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row m-0">
                    <div class="col-md-12">
                        @*<form id="frm_add_guard">*@
                        <input type="hidden" id="Guard_Id" name="Guard.Id" />
                        @*    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Guard Name</label>
                        <div class="col-md-3">
                        <input type="text" class="form-control" id="Guard_Name1" name="Guard.Name">
                        </div>
                        <label class="col-md-1 col-form-label text-left">Intial</label>
                        <div class="col-md-2">
                        <input type="text" class="form-control" id="Guard_Initial1" name="Guard.Initial">
                        </div>
                        <label class="col-md-1 col-form-label">Mobile</label>
                        <div class="col-md-3">
                        <input type="text" class="form-control" id="Guard_Mobile1" name="Guard.Mobile" value="+61 4">
                        </div>

                        </div>
                        <div class="form-group row">
                        <label class="col-md-2 col-form-label">License No (Primary)</label>
                        <div class="col-md-3">
                        <input type="text" class="form-control" id="Guard_SecurityNo1" name="Guard.SecurityNo">
                        </div>
                        <label class="col-md-1 col-form-label">State</label>
                        <div class="col-md-2">
                        <select id="Guard_State1" name="Guard.State" asp-items="@Model.ViewDataService.LicenseStates" class="form-control"></select>
                        </div>
                        <label class="col-md-1 col-form-label">Email</label>
                        <div class="col-md-3">
                        <input type="text" class="form-control" id="Guard_Email1" name="Guard.Email">
                        </div>
                        </div>
                        <div class="form-group row">

                        <label class="col-md-2 form-check-label">Access</label>
                        <div class="col-md-3">
                        <select class="form-control" multiple="multiple" id="Guard_Access1" name="Guard.GuardAccess">
                        @foreach (var AccessType in viewDataService.GetAccessTypes(true))
                        {

                        <option value="@AccessType.Value">@AccessType.Text</option>
                        }
                        </select>

                        </div>
                        <label class="col-md-1 form-check-label">Is Active</label>
                        <div class="col-md-2">
                        <input type="checkbox" class="form-check" id="cbIsActive1">
                        <input type="hidden" id="Guard_IsActive1" name="Guard.IsActive">
                        </div>
                        <label class="col-md-1 col-form-label">Provider</label>
                        <div class="col-md-3">
                        <input type="text" class="form-control" id="Guard_Provider1" name="Guard.Provider">
                        </div>
                        </div>


                        @*    <div class="form-group row">
                        <label class="col-md-2 form-check-label">Is Active</label>
                        <div class="col-md-3">
                        <input type="checkbox" class="form-check" id="cbIsActive">
                        <input type="hidden" id="Guard_IsActive" name="Guard.IsActive">
                        </div>
                        </div> *@
                        @*     <div class="form-row">
                        <div class="col-md-12">
                        <div class="alert alert-success" role="alert" style="display:none" id="guard_saved_status1">
                        <i class="fa fa-check-circle-o mr-2"></i>Guard saved successfully
                        </div>
                        <div asp-validation-summary="All" id="glValidationSummary1"></div>
                        </div>
                        </div>
                        </form>
                        </div>
                        </div>
                        <hr />*@
                        <div class="row m-0">
                            <div class="col-md-12">
                                <ul class="nav nav-tabs" id="guardComplianceTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link" id="licensesAndCombliance-tab" data-toggle="tab" href="#guardLicensesandCompliance" role="tab" aria-controls="guardLicenses" aria-selected="true">Compliances</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="lote-tab" data-toggle="tab" href="#lote" role="tab" aria-controls="lote" aria-selected="true">Personal</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" id="trainingAndAssessment-tab" data-toggle="tab" href="#guardTrainingAndAssessment" role="tab" aria-controls="guardTrainingAndAssessment" aria-selected="true">Training & Assessment</a>
                                    </li>
                                    @*  <li class="nav-item">
                                    <a class="nav-link active" id="licenses-tab" data-toggle="tab" href="#guardLicenses" role="tab" aria-controls="guardLicenses" aria-selected="true">Licenses</a>
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link" id="compliances-tab" data-toggle="tab" href="#guardCompliances" role="tab" aria-controls="guardCompliances" aria-selected="false">Compliances</a>
                                    </li> *@
                                </ul>
                                <div class="tab-content" id="guardDataTabContent">
                                    <div class="tab-pane fade show py-3" id="guardLicensesandCompliance" role="tabpanel" aria-labelledby="licensesAndCombliance-tab">
                                        <div class="form-row mb-2 btn-add-guard-addl-details">
                                            <div class="col-md-2 offset-md-10 text-right">
                                                <button class="btn btn-success" id="btnAddGuardLicenseKey"><i class="fa fa-plus mr-2"></i>Add Compliance</button>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <table id="tbl_guard_licensesAndComplianceKey" class="table table-bordered table-sm" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>HR Group</th>
                                                            <th>Description</th>
                                                            <th>Expiry Date</th>
                                                            <th>File</th>
                                                            <th>Status</th>
                                                            <th class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i></th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-row mb-2 btn-add-guard-addl-details">
                                            <div class="col-md-2 offset-md-10 text-right">
                                                <button class="btn btn-success" id="btnAddGuardLicenseKey2"><i class="fa fa-plus mr-2"></i>Add Compliance</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade show py-3" id="lote" role="tabpanel" aria-labelledby="lote-tab">
                                        <div class="container-fluid">
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <form id="frm_add_personal">
                                                        <input type="hidden" id="Guard_Id1" name="Guard.Id" />
                                                        <div class="form-group row m-0 mb-3">
                                                            <label for="userName" class="col-sm-4 col-form-label">Guard Name</label>
                                                            <div class="col-sm-6">
                                                                @* <input type="text" class="form-control" id="guardName" value="@Model.GuardLog.GuardLogin.Guard.Name" disabled="disabled"> *@
                                                                <input type="text" class="form-control" id="guardNameTraining" name="Guard.Name"  disabled="disabled">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row m-0 mb-3">
                                                            <label for="userPassword" class="col-sm-4 col-form-label">License No(Primary)</label>
                                                            <div class="col-sm-6">
                                                                @* <input type="text" class="form-control" id="licenseNo" value="@Model.GuardLog.GuardLogin.Guard.SecurityNo" disabled="disabled"> *@
                                                                <input type="text" class="form-control" id="licenseNoTraining" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group row m-0 mb-3">
                                                            <label for="userConfirmPassword" class="col-sm-4 col-form-label">Mobile</label>
                                                            <div class="col-sm-6">
                                                                @* <input type="text" class="form-control" id="mobile" value="@Model.GuardLog.GuardLogin.Guard.Mobile" disabled="disabled"> *@
                                                                <input type="text" class="form-control" id="mobileTraining" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group row m-0 mb-3">
                                                            <label for="userConfirmPassword" class="col-sm-4 col-form-label">Email</label>
                                                            <div class="col-sm-6">
                                                                @* <input type="text" class="form-control" id="email" value="@Model.GuardLog.GuardLogin.Guard.Email" disabled="disabled"> *@
                                                                <input type="text" class="form-control" id="emailTraining" />
                                                            </div>

                                                        </div>
                                                        <div class="form-group row m-0 mb-3">
                                                            <label for="userConfirmPassword" class="col-sm-4 col-form-label">LOTE</label>
                                                            <div class="col-sm-6">
                                                                <select class="form-control" multiple="multiple" id="LoteDrp" name="Guard.LanguageDetails">
                                                                    @foreach (var AccessType in viewDataServiceNew.GetLanguageMaster(true))
                                                                    {

                                                                        <option value="@AccessType.Value">@AccessType.Text</option>
                                                                    }


                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="form-group row m-0 mb-3">
                                                            <div class="col-sm-4">
                                                                <button type="button" class="btn btn-primary" id="btn_save_PersonalTraining">Save</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="col-sm-7" style="padding-top:164px">
                                                        <div class="container p-0" style="display:flex;font-size:11px;color:black">

                                                            <p class="left-text">Note:</p>&nbsp;&nbsp;

                                                            <p class="right-text">
                                                                Only LOTE can be edited  from this portal.<br>If other details need to be updated,Please
                                                                contact your supervior or ADMIN
                                                            </p>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show active py-3" id="guardTrainingAndAssessment" role="tabpanel" aria-labelledby="trainingAndAssessment-tab">

                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <table id="tbl_guard_trainingAndAssessment" class="table table-bordered table-sm" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>HR Group</th>
                                                            <th>Description</th>
                                                            <th></th>
                                                            <th class="text-center">Course</i></th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                            </div>
                            @*<div class="modal-footer justify-content-start">
                            <button type="button" class="btn btn-primary" id="btn_save_guard">Save Guard</button>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addGuardCompliancesLicenseModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="addComplianceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-2">
                <h5 class="modal-title">Add/Edit Compliance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-1 pt-1">
                <form id="frm_add_complianceandlicense">
                    <input type="hidden" id="GuardComplianceandlicense_Id" name="GuardComplianceAndLicense.Id" />
                    <input type="hidden" id="GuardComplianceandlicense_GuardId" name="GuardComplianceAndLicense.GuardId" />
                    <input type="hidden" id="GuardComplianceandlicense_CurrentDateTime" name="GuardComplianceAndLicense.CurrentDateTime" />
                    <input type="hidden" id="GuardComplianceandlicense_LicenseNo" name="GuardComplianceAndLicense.LicenseNo" />
                    <div class="form-row" style="height:363px;">
                        <p style="color:black">
                            The HR database allows uploads of compliance and license documents based on three groups.
                            Please read legend and select the correct group first, before selecting the description of the file you are uploading. If a document you
                            are trying to upload is not listed in the dropdown description list, please contact admin
                        </p>
                        <h8 class="col-sm-6" style="color:black"><u>LEGEND</u></h8>
                        <h8 style="color:black;font-size:11px">HR 1=C4i Onboarding    (CV,LICENSES,C4i Training)</h8>
                        <h8 style="color:black;font-size:11px">HR 2=Client inductions    (client specific SOPs)</h8>
                        <h8 style="color:black;font-size:11px">HR 3=Special skills    (FLIR,WARDEN,COXSWAIN,etc)</h8>
                        <div class="row pt-3" id="ComplianceHiddenDiv">
                            <div class="form-group col-md-5 col-lg-5 col-12">
                                <label class="form-label">HR Group</label>
                                <select class="form-control" id="HRGroup" name="GuardComplianceAndLicense.HrGroup" asp-items="@viewDataServiceNew.GetHRGroups( true)">
                                    @*  <option selected="selected" value="">Select</option> *@
                                </select>
                            </div>
                            <div class="form-group col-md-7 col-lg-7 col-12">
                                <label class="form-label" id="DescLabel">Description</label>
                                <select name="GuardComplianceAndLicense.Description" id="Description" class="form-control" style="width:278px"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-5 col-lg-5 col-12">
                                <label class="form-label" id="ComplianceDate" style="width: 140px;">Expiry Date (DOE)</label>
                                <input type="hidden" id="IsDateFilterEnabledHidden" name="GuardComplianceAndLicense.IsDateFilterEnabledHidden" />
                                <div class="custom-control custom-switch custom-control-inline m-0" title="Switch between Patrol Car and Guards" style="padding-bottom:5px">
                                    <input type="checkbox" class="custom-control-input" id="LicanseTypeFilter">
                                    <label class="custom-control-label" for="LicanseTypeFilter"></label>
                                </div>
                                <div class="pr-3">
                                    <input type="date" class="form-control" id="GuardComplianceAndLicense_ExpiryDate1" name="GuardComplianceAndLicense.ExpiryDate" min="@DateTime.Today.ToString("yyyy-MM-dd")">
                                </div>
                            </div>
                            <div class="form-group col-md-7 mb-1 pl-0">
                                <div class="container p-0" style="display:flex;font-size:11px;color:black">
                                    <p class="left-text text-danger">Note:</p>&nbsp;&nbsp;
                                    <p class="right-text">
                                        Licenses and inductions expire. Please ensure you add expiry so system can email you when your document needs to be updated.
                                        Where a document has no expiry,then use toggle and add the issue date instead
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="mb-1 mt-1" />
                    <div class="form-row">
                        <div class="form-group col-md-12 mt-1">
                            <label class="form-label">Compliance Document: <span id="guardComplianceandlicense_fileName1">None</span></label>
                        </div>
                        <div class="form-group col-md-8">
                            <div id="fileUpload"></div>
                        </div>
                        <div class="form-group col-md-4">
                            <button type="button" class="btn btn-outline-danger w-100" style="height:60px" id="delete_complianceandlicense_file"><i class="fa fa-trash fa-lg mr-2"></i>Delete</button>
                        </div>
                        <div class="form-group col-md-12">
                            <input type="hidden" id="GuardComplianceandlicense_FileName1" name="GuardComplianceAndLicense.FileName" />
                            <div class="container  pl-0" style="display:flex;font-size:11px;color:black">
                                <p class="left-text text-danger">Note:</p>&nbsp;&nbsp;
                                <p class="right-text">
                                    The system will only
                                    allow
                                    single
                                    files to be uploaded to one HR group.
                                    Therefore you
                                    may need to make multiple separate uploads,
                                    based on variations to HR Group and
                                    description.
                                    Where an older document already exists, don’t
                                    ADD it again, simply
                                    edit the existing document, upload the version over the top with new expiry
                                    or issue date. If your licence expires and you are
                                    issued a new number please
                                    inform Admin; don’t add yourself as a new guard, Admin will edit the record.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-row pl-5">
                        <div class="form-group col-md-12 m-0">
                            <div asp-validation-summary="All" id="compliancelicanseValidationSummary1"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-start p-2">
                <button type="button" class="btn btn-primary" id="btn_save_guard_compliancelicenseKey">Save Compliance</button>
                <span id="schRunStatusNew" class="mt-2"></span>
            </div>
        </div>
    </div>
</div>

<div id="modelGuardLoginAditLog" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">
                    Guard Access permission for Audit Site Logs
                </h6>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <form id="frm_GuardLogin" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="input-group">
                                    <label class="mt-2 mr-2">Security License No</label><br />
                                    <input class="form-control" type="text" id="txt_securityLicenseNoAuditSiteLogs">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-primary" id="btnGuardLoginAuditSiteLogs" title="Get guard details"><i class="fa fa-sign-in mr-2"></i><span class="d-none d-md-inline-flex">Get access permission</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer" style="display:block">
                <div class="text-left ml-3">
                    <div asp-validation-summary="All" id="GuardLoginValidationSummaryAuditSiteLogs"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section PageHeader {
    <h3 class="text-center">Tools</h3>
    }
