@using CityWatch.Data.Providers;
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@using System.Security.Claims;
@inject IWebHostEnvironment environment
@inject IUserDataProvider viewDataService
@{
    var claimsIdentity = User.Identity as ClaimsIdentity;
    var companydetail = viewDataService.GetCompanyDetails().SingleOrDefault(x => x.Id == 1);
    var companydetailsprimarylogo = companydetail.PrimaryLogoPath;
}


<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>    
    <link rel="icon" type="image/x-icon" href="~/favicon.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-multiselect/css/bootstrap-multiselect.min.css" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body class="d-flex flex-column">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom mb-3">
            <div class="container">
              
                @*<a class="navbar-brand" href="https://www.citywatchsecurity.com.au" target="_blank">*@
                <a class="navbar-brand" href="https://@companydetail.Hyperlink" target="_blank">
                
                    @*<img src="~/images/CWSLogo.png" alt="cws logo" height="60px"/>*@
                    <img src="@companydetail.PrimaryLogoPath" alt="cws logo" height="60px" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"></li>
                    </ul>
                </div>
                @if (IsSectionDefined("PageHeader"))
                {
                    @RenderSection("PageHeader");
                }
              @*  @if (User.Identity.IsAuthenticated)
                {
                    <p class="mx-auto ml-md-3">
                        <span class="d-block">Hello @User.Identity.Name</span>
                        <a href="@Url.Page("/Account/Logout")" class="btn btn-sm btn-primary"><i class="fa fa-sign-out mr-2"></i>Log Out</a>
                    </p>
                }*@
            </div>
        </nav>
    </header>

    <div class="container flex-fill">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
  

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-6 text-center">
                    &copy; @DateTime.Today.Year - <a href="https://citywatchsecurity.com.au" target="_blank" class="cws-footer-link">CityWatch Security</a> | Ver @System.Reflection.Assembly.GetExecutingAssembly().GetName().Version
                </div>
                <div class="col-sm-12 col-md-6 d-flex justify-content-center">
                    <div>
                        <a href="http://rc.cws-ir.com/" class="nav-link py-0"><i class="fa fa-home mr-2"></i>Radio Checklist (RC)</a>

                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div>
                            <a href="@Url.Page("/Admin/Settings")" class="nav-link py-0"><i class="fa fa-cog mr-2"></i>Settings</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/scroller/2.3.0/js/dataTables.scroller.min.js"></script> @*Task p4#19 Screen Jumping day -- added by Binoy -- End - 01-02-2024*@
    <script src="~/lib/bootstrap-multiselect/js/bootstrap-multiselect.min.js"></script>    
    <script src="~/lib/luxon/luxon.min.js" asp-append-version="true"></script>

    <!-- For SignalR notification-->
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/radiocheck.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
