@using CityWatch.Data.Models;
@using CityWatch.Web.Services;
@model CityWatch.Data.Models.KeyVehicleLogVisitorPersonalDetail
@inject IViewDataService viewDataService
<form id="frm_edit_kvl_profile">
    <input type="hidden" asp-for="@Model.Id" />
    <input type="hidden" asp-for="@Model.KeyVehicleLogProfile.Id" />
    @{
        var kvlAuditHistory = ViewData["KeyVehicleLog_AuditHistory"] as List<KeyVehicleLogAuditHistory>;
    }
    <div class="row">
        <div class="col-md-6 border-right">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>ID No. / Vehicle Rego.</label>
                    <input class="form-control" disabled type="text" asp-for="@Model.KeyVehicleLogProfile.VehicleRego" />
                    <input type="hidden" id="KeyVehicleLogProfile_VehicleRego" name="KeyVehicleLogProfile.VehicleRego" value="@Model.KeyVehicleLogProfile.VehicleRego" />
                </div>
                <div class="form-group col-md-4">
                    <label>ID / Plate (State or AU)</label>
                    <input type="hidden" asp-for="@Model.KeyVehicleLogProfile.PlateId" />
                    <select class="form-control" id="kvl_profile_list_plates" asp-items="@viewDataService.GetKeyVehicleLogFieldsByType(KvlFieldType.Plate)">
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Vehicle Config</label>
                    <select class="form-control" asp-for="@Model.KeyVehicleLogProfile.TruckConfig" asp-items="@viewDataService.GetKeyVehicleLogFieldsByType(KvlFieldType.VehicleConfig)">
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label>Trailer Type</label>
                    <select class="form-control" asp-for="@Model.KeyVehicleLogProfile.TrailerType" asp-items="@viewDataService.GetKeyVehicleLogFieldsByType(KvlFieldType.TrailerType)">
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label>Max Weight</label>
                    <input class="form-control" type="number" asp-for="@Model.KeyVehicleLogProfile.MaxWeight" min="0" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label>Trailer 1 Rego. <br />or ISO</label>
                    <input class="form-control" type="text" asp-for="@Model.KeyVehicleLogProfile.Trailer1Rego" />
                </div>
                <div class="form-group col-md-3">
                    <label>Trailer 2 Rego. <br />or ISO</label>
                    <input class="form-control" type="text" asp-for="@Model.KeyVehicleLogProfile.Trailer2Rego" />
                </div>
                <div class="form-group col-md-3">
                    <label>Trailer 3 Rego. <br />or ISO</label>
                    <input class="form-control" type="text" asp-for="@Model.KeyVehicleLogProfile.Trailer3Rego" />
                </div>
                <div class="form-group col-md-3">
                    <label>Trailer 4 Rego. <br />or ISO</label>
                    <input class="form-control" type="text" asp-for="@Model.KeyVehicleLogProfile.Trailer4Rego" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Company Name</label>
                    <input class="form-control" type="text" asp-for="@Model.CompanyName" />
                </div>
                <div class="form-group col-md-4">
                    <label>Individuals Name</label>
                    <input class="form-control" type="text" asp-for="@Model.PersonName" />
                </div>
                <div class="form-group col-md-4">
                    <label>Type of Individual</label>
                    <select class="form-control" asp-for="@Model.PersonType" asp-items="@viewDataService.GetKeyVehicleLogFieldsByType(KvlFieldType.IndividualType)">
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Mobile Number</label>
                    @{
                        var mobileNumber = @Model.KeyVehicleLogProfile.MobileNumber ?? "+61 (0) ";
                    }
                    <input class="form-control" value="@mobileNumber" type="text" asp-for="@Model.KeyVehicleLogProfile.MobileNumber" />
                </div>
                <div class="form-group col-md-4">
                    <label>Entry Reason</label>
                    <select class="form-control" asp-for="@Model.KeyVehicleLogProfile.EntryReason" asp-items="@viewDataService.GetKeyVehicleLogFieldsByType(KvlFieldType.EntryReason)"></select>
                </div>
                <div class="form-group col-md-4">
                    <input type="hidden" asp-for="@Model.KeyVehicleLogProfile.Product" />
                    <input type="hidden" asp-for="@Model.IsBDM" />
                    <label>Product</label>
                    <select class="form-control" id="list_product_profile" asp-items="@viewDataService.GetKeyVehicleLogFieldsByType(KvlFieldType.ProductType, true)"></select>
                </div>
            </div>
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="kvl-notes-tab" data-toggle="tab" data-target="#kvl-notes" role="tab" aria-controls="kvl-notes" aria-selected="true">
                        <i class="fa fa-pencil-square-o mr-2"></i>Notes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="kvl-auditlog-tab" data-toggle="tab" data-target="#kvl-auditlog" role="tab" aria-controls="kvl-auditlog" aria-selected="false">
                        <i class="fa fa-history mr-2"></i>
                        Audit Log
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active p-2" id="kvl-notes" role="tabpanel" aria-labelledby="kvl-notes-tab">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Notes</label>
                            <textarea class="form-control" rows="5" maxlength="4096" asp-for="@Model.KeyVehicleLogProfile.Notes"></textarea>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade p-2" id="kvl-auditlog" role="tabpanel" aria-labelledby="kvl-auditlog-tab">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered table-sm" width="100%" id="key_vehicle_log_audit_history">
                                <thead>
                                    <tr>
                                        <th width="35%">Audit Date</th>
                                        <th width="15%">Guard Initial</th>
                                        <th width="50%">Audit Message</th>
                                    </tr>
                                </thead>
                                @if (kvlAuditHistory != null)
                                {
                                    foreach (var auditHistory in kvlAuditHistory)
                                    {
                                        <tr>
                                            <td>@auditHistory.AuditTime.ToString("dd MMM yyyy @ HH:mm")</td>
                                            <td>@auditHistory.GuardLogin.Guard.Initial <a href="#" class="ml-2"><i class="fa fa-vcard-o text-info" data-toggle="modal" data-target="#guardInfoModal" data-id="@auditHistory.GuardLogin.GuardId"></i></a></td>
                                            <td>@auditHistory.AuditMessage </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="All" id="kvl-profiles-validation-summary"></div>
        </div>
    </div>
</form>