
@using CityWatch.Data.Helpers
@using CityWatch.Data.Models
@using CityWatch.Data.Providers;
@using CityWatch.Web.Helpers
@using CityWatch.Web.Services;
@using Microsoft.Extensions.Configuration
@using System.Security.Claims
@model CityWatch.Web.Pages.Admin.SettingsModel
@inject IConfiguration Configuration
@inject IUserDataProvider viewDataService
@inject IViewDataService viewDataServiceNew
@inject IClientDataProvider clientDataProvider
@inject IClientSiteViewDataService clientViewDataService
@inject IGuardDataProvider guarddataProvider
<div class="modal" tabindex="-1" role="dialog" id="trainingandAssessmentmodal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-gear" aria-hidden="true"></i> Edit Settings for <span id="training_course_Name"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnTrainingAssesmentModalClose">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="div_trainingassessment_settings">
                    <ul class="nav nav-tabs" id="trainingAssesmentTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="trainingCourseTab" data-toggle="tab" href="#TrainingCourse" role="tab" aria-controls="TrainingCourse" aria-selected="true">Course</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="trainingTestQuestionstab" data-toggle="tab" href="#TrainingTestQuestions" role="tab" aria-controls="TrainingTestQuestions">Test Questions</a>

                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="trainingCertificateTab" data-toggle="tab" href="#TrainingCertificate" role="tab" aria-controls="TrainingCertificate">Certificate</a>

                        </li>


                    </ul>
                    <div class="tab-content p-2">
                        <div class="tab-pane active" id="TrainingCourse" role="tabpanel" aria-labelledby="TrainingCourseTab">
                            <ul class="nav nav-tabs" id="TrainingCourseSettings" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="trainingCourseUploadtab" data-toggle="tab" href="#TrainingCourseUpload" role="tab" aria-controls="TrainingCourseUploadTab" aria-selected="true">Upload</a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="TrainingCourseUpload" role="tabpanel" aria-labelledby="TrainingCourseUploadTab">
                                    <div class="row mb-2" id="TrainingCourseFiles">

                                        <div class="col-md-12 text-right mt-3">
                                            <label class="btn btn-success mb-3">
                                                <form id="form_add_course_document_files" method="post">
                                                    <i class="fa fa-upload mr-2"></i>Add File
                                                    <input type="file" id="add_course_document_files" accept=".pdf, .pptx,.ppt" hidden>
                                                </form>
                                            </label>
                                        </div>

                                        <div class="row mb-4">
                                            <div class="col-md-12">
                                                <table class="table" id="tbl_courseDocumentFiles"></table>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="tab-pane " id="TrainingTestQuestions" role="tabpanel" aria-labelledby="TrainingTestQuestionsTab">
                            <ul class="nav nav-tabs" id="TrainingTestQuestionsDetailsTab" role="tablist">

                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="TrainingTestQuestionsSettingsTab" data-toggle="tab" href="#TrainingTestQuestionsSettings" role="tab" aria-controls="TrainingTestQuestionsSettings" aria-selected="false">Settings</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="TrainingTestQuestionsAnswersTab" data-toggle="tab" href="#TrainingTestQuestionsAnswers" role="tab" aria-controls="TrainingTestQuestionsAnswers" aria-selected="false">Questions</a>
                                </li>
                                @*for toggle areas-start*@
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="TrainingTestQuestionsFeedbackTab" data-toggle="tab" href="#TrainingTestQuestionsFeedback" role="tab" aria-controls="TrainingTestQuestionsFeedback" aria-selected="false">Feedback</a>
                                </li>

                                @*for toggle areas-end*@

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="TrainingTestQuestionsSettings" role="tabpanel" aria-labelledby="TrainingTestQuestionsSettingsTab">
                                    <div class="form-group col-md-12">
                                        <div class="row mt-3">
                                            <div class="col-md-4">
                                                <label>Course Duration ETA:</label>
                                                <select id="ddlCourseDurationETA" class="form-control" asp-items="@viewDataServiceNew.GetCourseDuration(true)"></select>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="d-flex flex-row justify-content-between">
                                                    <label>DOE:</label>
                                                    <div class="custom-control custom-switch custom-control-inline">
                                                        <input type="checkbox" class="custom-control-input" id="cbIsTrainingTestQuestionsDOE">
                                                        <label class="custom-control-label" for="cbIsTrainingTestQuestionsDOE"></label>



                                                        <input hidden="" type="hidden" id="IsTrainingTestQuestionsDOE" name="IsTrainingTestQuestionsDOE">
                                                    </div>
                                                </div>
                                                <select class="form-control" id="TrainingTestQuestionCertificateExpiryYears" asp-items="@viewDataServiceNew.GetTrainingCertificateExpiryYears(true)" disabled></select>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-md-4">
                                                <label>Test Duration ETA:</label>
                                                <select id="ddlTestDurationETA" class="form-control" asp-items="@viewDataServiceNew.GetTestDuration(true)"></select>
                                            </div>
                                            <div class="col-md-4">

                                                <div class="d-flex flex-row justify-content-between">
                                                    <label>Certificate with Q&A Dump:</label>
                                                    <div class="custom-control custom-switch custom-control-inline">
                                                        <input type="checkbox" class="custom-control-input" id="cbIsTrainingCertificateWithQandADump">
                                                        <label class="custom-control-label" for="cbIsTrainingCertificateWithQandADump"></label>



                                                        <input hidden="" type="hidden" id="IsTrainingCertificateWithQandADump" name="IsTrainingCertificateWithQandADump">
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-md-4">
                                                <label>Pass Mark %:</label>
                                                <select id="ddlTestPassMark" class="form-control" asp-items="@viewDataServiceNew.GetPassMark(true)"></select>
                                            </div>
                                            <div class="col-md-4">

                                                <div class="d-flex flex-row justify-content-between">
                                                    <label>Certificate hold until practical undertaken:</label>
                                                    <div class="custom-control custom-switch custom-control-inline">
                                                        <input type="checkbox" class="custom-control-input" id="cbIsTrainingCertificateHold">
                                                        <label class="custom-control-label" for="cbIsTrainingCertificateHold"></label>



                                                        <input hidden="" type="hidden" id="IsTrainingCertificateHold" name="IsTrainingCertificateHold">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-md-4">
                                                <label>Attempts:</label>
                                                <select id="ddlTestAttempts" class="form-control" asp-items="@viewDataServiceNew.GetTestAttempts(true)"></select>
                                            </div>
                                            <div class="col-md-4">

                                                <div class="d-flex flex-row justify-content-between">
                                                    <label>Anonymus FeedBack:</label>
                                                    <div class="custom-control custom-switch custom-control-inline">
                                                        <input type="checkbox" class="custom-control-input" id="cbIsTrainingAnonymusFeedBack">
                                                        <label class="custom-control-label" for="cbIsTrainingAnonymusFeedBack"></label>



                                                        <input hidden="" type="hidden" id="IsTrainingAnonymusFeedBack" name="IsTrainingAnonymusFeedBack">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane" id="TrainingTestQuestionsAnswers" role="tabpanel" aria-labelledby="TrainingTestQuestionsAnswersTab">
                                    <div class="form-group col-md-12">

                                        <div class="row mt-3">
                                            <div class="col-md-2">
                                                <label>Question No</label>
                                                <select id="ddlTestQuestionNo" class="form-control" asp-items="@viewDataServiceNew.GetTestQuestionNumbers(true)"></select>
                                            </div>
                                            <div class="col-md-2">
                                                <label>Counter:</label>
                                                <label id="lblCounterNo"></label>
                                            </div>
                                            <div class="col-md-2">
                                                <label>TQ Group</label>
                                                <select id="ddlTQNo" class="form-control" asp-items="@viewDataServiceNew.GetTestTQNumbers(true)"></select>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-md-12">
                                                <textarea id="txtQuestion" class="form-control"></textarea>

                                            </div>

                                        </div>
                                        <div>
                                            <label>Multiple Choice Answers</label>
                                            <div class="row mt-3">
                                                <div class="col-md-1">
                                                    <label>A1</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" id="txt_Option1" class="form-control" />
                                                </div>
                                                <div class="custom-control custom-switch custom-control-inline col-md-2">
                                                    <input type="checkbox" class="custom-control-input" id="cbIsOption1">
                                                    <label class="custom-control-label" for="cbIsOption1"></label>



                                                    <input hidden="" type="hidden" id="IsOption1" name="IsOption1">
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-md-1">
                                                    <label>A2</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" id="txt_Option2" class="form-control" />
                                                </div>
                                                <div class="custom-control custom-switch custom-control-inline col-md-2">
                                                    <input type="checkbox" class="custom-control-input" id="cbIsOption2">
                                                    <label class="custom-control-label" for="cbIsOption2"></label>



                                                    <input hidden="" type="hidden" id="IsOption2" name="IsOption2">
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-md-1">
                                                    <label>A3</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" id="txt_Option3" class="form-control" />
                                                </div>
                                                <div class="custom-control custom-switch custom-control-inline col-md-2">
                                                    <input type="checkbox" class="custom-control-input" id="cbIsOption3">
                                                    <label class="custom-control-label" for="cbIsOption3"></label>



                                                    <input hidden="" type="hidden" id="IsOption3" name="IsOption3">
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-md-1">
                                                    <label>A4</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" id="txt_Option4" class="form-control" />
                                                </div>
                                                <div class="custom-control custom-switch custom-control-inline col-md-2">
                                                    <input type="checkbox" class="custom-control-input" id="cbIsOption4">
                                                    <label class="custom-control-label" for="cbIsOption4"></label>



                                                    <input hidden="" type="hidden" id="IsOption4" name="IsOption4">
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-md-1">
                                                    <label>A5</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" id="txt_Option5" class="form-control" />
                                                </div>
                                                <div class="custom-control custom-switch custom-control-inline col-md-2">
                                                    <input type="checkbox" class="custom-control-input" id="cbIsOption5">
                                                    <label class="custom-control-label" for="cbIsOption5"></label>



                                                    <input hidden="" type="hidden" id="IsOption5" name="IsOption5">
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-md-1">
                                                    <label>A6</label>
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" id="txt_Option6" class="form-control" />
                                                </div>
                                                <div class="custom-control custom-switch custom-control-inline col-md-2">
                                                    <input type="checkbox" class="custom-control-input" id="cbIsOption6">
                                                    <label class="custom-control-label" for="cbIsOption6"></label>



                                                    <input hidden="" type="hidden" id="IsOption6" name="IsOption6">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*for toggle areas-start*@
                                <div class="tab-pane" id="TrainingTestQuestionsFeedback" role="tabpanel" aria-labelledby="TrainingTestQuestionsFeedbackTab">

                                    <div class="form-group col-md-12">

                                        <div class="row mt-3">
                                            <div class="col-md-2">
                                                <label>Question No</label>
                                                <select id="ddlFeedbackQuestionNo" class="form-control"></select>
                                            </div>
                                            <div class="col-md-2">
                                                <label>Counter:</label>
                                                <label id="lblFeedbackCounterNo"></label>
                                            </div>

                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-md-12">
                                                <textarea id="txtFeedbackQuestion" class="form-control" placeholder="Did you enjoy the course?"></textarea>

                                            </div>

                                        </div>
                                        <div>
                                            <label>Multiple Choice Answers</label>
                                            <div class="row mt-3">
                                                <div class="col-md-1">
                                                    <label>A1</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="text" id="txt_FeedbackOption1" class="form-control" />
                                                </div>

                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-md-1">
                                                    <label>A2</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="text" id="txt_FeedbackOption2" class="form-control" />
                                                </div>

                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-md-1">
                                                    <label>A3</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="text" id="txt_FeedbackOption3" class="form-control" />
                                                </div>

                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-md-1">
                                                    <label>A4</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="text" id="txt_FeedbackOption4" class="form-control" />
                                                </div>

                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-md-1">
                                                    <label>A5</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="text" id="txt_FeedbackOption5" class="form-control" />
                                                </div>

                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-md-1">
                                                    <label>A6</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="text" id="txt_FeedbackOption6" class="form-control" />
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane " id="TrainingCertificate" role="tabpanel" aria-labelledby="TrainingCourseTab">
                            <ul class="nav nav-tabs" id="TrainingCertificateSettings" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="trainingCertificateUploadtab" data-toggle="tab" href="#TrainingCertificateUpload" role="tab" aria-controls="TrainingCertificatedUploadTab" aria-selected="true">Upload</a>
                                </li>

                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="TrainingCertificateUpload" role="tabpanel" aria-labelledby="TrainingCertificateUploadTab">
                                    <div class="row mb-2" id="TrainingCertificateFiles">

                                        <div class="col-md-12 text-right mt-3">
                                            <label class="btn btn-success mb-3">
                                                <form id="form_add_certificate_document_files" method="post">
                                                    <i class="fa fa-upload mr-2"></i>Add File
                                                    <input type="file" id="add_certificate_document_files" accept=".pdf, .pptx,.ppt" hidden>
                                                </form>
                                            </label>
                                        </div>

                                        <div class="row mb-4">
                                            <div class="col-md-12">
                                                <table class="table" id="tbl_certificateDocumentFiles"></table>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-start">
                <button type="button" class="btn btn-primary" id="btn_save_trainingassessment_settings">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="msg-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-exclamation-circle text-danger" aria-hidden="true"></i> Error</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Submit failed. Please fill all required fields</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>