@page
@using CityWatch.Data.Helpers
@using CityWatch.Data.Models
@using CityWatch.Web.Helpers
@using Microsoft.Extensions.Configuration
@using System.Security.Claims
@model CityWatch.Web.Pages.Admin.SettingsModel
@inject IConfiguration Configuration
@{
    ViewData["Title"] = "CityWatch Security | Settings";
    ViewData["PageName"] = CityWatch.Web.Helpers.PageNameHelper.Settings;

    var mapSettings = @Configuration.GetSection("GoogleMap").Get(typeof(GoogleMapSettings)) as GoogleMapSettings;
    var ApiKey = mapSettings.ApiKey;
    var hideTabStyle = !AuthUserHelper.IsAdminUserLoggedIn ? "style=display:none" : "";
}
<div>
    <input type="hidden" id="hdnIsAdminLoggedIn" value="@AuthUserHelper.IsAdminUserLoggedIn.ToString()" />
    <ul class="nav nav-tabs" id="settingsTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="ctype-tab" data-toggle="tab" href="#ctype" role="tab" aria-controls="ctype" aria-selected="true">Incident Client Type</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="csite-tab" data-toggle="tab" href="#csite" role="tab" aria-controls="csite" aria-selected="false">Incident Client Site</a>
        </li>
        <li class="nav-item" @hideTabStyle>
            <a class="nav-link" id="fbktpl-tab" data-toggle="tab" href="#fbktpl" role="tab" aria-controls="fbktpl" aria-selected="false">Feedback Template</a>
        </li>
        <li class="nav-item" @hideTabStyle>
            <a class="nav-link" id="irdocs-tab" data-toggle="tab" href="#irdocs" role="tab" aria-controls="irdocs" aria-selected="false">PDF Template & Downloads</a>
        </li>
        <li class="nav-item" @hideTabStyle>
            <a class="nav-link" id="fields-tab" data-toggle="tab" href="#fields" role="tab" aria-controls="fields" aria-selected="false">Fields</a>
        </li>
        <li class="nav-item" @hideTabStyle>
            <a class="nav-link" id="user-tab" data-toggle="tab" href="#user" role="tab" aria-controls="user" aria-selected="false">Users</a>
        </li>
        <li class="nav-item" @hideTabStyle>
            <a class="nav-link" id="uca-tab" data-toggle="tab" href="#uca" role="tab" aria-controls="uca" aria-selected="false">Access Control</a>
        </li>
        <li class="nav-item" @hideTabStyle>
            <a class="nav-link" id="c4isettings-tab" data-toggle="tab" href="#c4isettings" role="tab" aria-controls="c4isettings" aria-selected="false">C4i Core</a>
        </li>
    </ul>
    <div class="tab-content" id="settingsTabContent">
        <div class="tab-pane fade show active py-3" id="ctype" role="tabpanel" aria-labelledby="ctype-tab">
            <div class="row" @hideTabStyle>
                <div class="col text-right">
                    <button class="btn btn-success mb-3" id="add_client_type"><i class="fa fa-plus mr-2"></i>Add Client Type</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table" id="client_type_settings"></table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade py-3" id="csite" role="tabpanel" aria-labelledby="csite-tab">
            <div class="row mb-3">
                <div class="col-md-10">
                    <div class="form-group row">
                        <label class="col-form-label col-md-3">Filter by Client Type</label>
                        <div class="col-md-5">
                            <select class="form-control" id="sel_client_type">
                                <option value="">All</option>
                                @foreach (var item in Model.ViewDataService.GetUserClientTypesHavingAccess(AuthUserHelper.LoggedInUserId))
                                {
                                    <option value="@item.Id">@item.Name</option>    
                                }
                            </select>
                        </div>
                        <div class="input-group col-md-4">
                            <input type="text" id="search_kw_client_site" class="form-control" placeholder="Search Client Site">
                            <div class="input-group-append">                                
                                <button class="btn btn-outline-primary" id="btnSearchClientSite"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 text-right" @hideTabStyle>
                    <button class="btn btn-success mb-3" id="add_client_site"><i class="fa fa-plus mr-2"></i>Add Client Site</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table" id="client_site_settings"></table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade py-3" id="fbktpl" role="tabpanel" aria-labelledby="fbktpl-tab" @hideTabStyle>
            <div class="row">
                <div class="col">
                    <div class="form-group row">
                        <label class="col-form-label col-md-3">Selected feedback template</label>
                        <div class="col-md-4">
                            <select class="form-control" id="sel_fbktpl">
                                <option value="">None</option>
                                @foreach (var item in Model.ConfigDataProiver.GetFeedbackTemplates())
                                {
                                    <option value="@item.Id">@item.Name</option>    
                                }
                            </select>
                        </div>
                        <div class="col-md-5 text-right">
                            <button class="btn btn-success mb-3" id="add_fbktpl"><i class="fa fa-plus mr-2"></i>New Template</button>
                        </div>
                    </div>
                    <div class="alert alert-success alert-dismissible fade show" role="alert" id="fbktpl_status" style="display:none">
                        <span>Message</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="form_fbktpl" style="display:none" method="post">
                        <div class="form-group row" style="display:none" id="new_fbktpl_name">                             
                            <label class="col-md-3 col-form-label">New template name:</label>                            
                            <div class="col-md-4">                                
                                <input type="text" class="form-control" asp-for="@Model.FeedbackTemplate.Name" />
                                <input type="hidden" asp-for="@Model.FeedbackTemplate.Id" value=""/>
                            </div>
                        </div>
                        <div class="form-group">                    
                            <div class="d-flex flex-row mb-2">
                                <label class="col-md-10 col-form-label pl-0">Pre-populated text for template &quot;<span id="sel_fbktpl_name"></span>&quot;:</label>
                                <select class="form-control" asp-for="@Model.FeedbackTemplate.Type" asp-items="@Html.GetEnumSelectList<FeedbackType>()"></select>
                            </div>
                            <textarea class="form-control" asp-for="@Model.FeedbackTemplate.Text" rows="10"></textarea>
                            <div class="mt-3">
                                <button type="button" class="btn btn-outline-danger" id="delete_fbktpl" style="display:none"><i class="fa fa-trash mr-2"></i>Delete</button>
                                <button type="button" class="btn btn-primary mr-2" id="save_fbktpl"><i class="fa fa-save mr-2"></i>Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane fade py-3" id="irdocs" role="tabpanel" aria-labelledby="irdocs-tab" @hideTabStyle>
            <div class="row my-3">
                <div class="col">
                    <label class="fw-bold">Details of Incident Report Pdf Template</label>
                    <table class="table table-bordered tbl-settings">
                        <thead>
                            <tr>
                                <th style="width:370px">Current Location</th>
                                <th style="width:370px">Date & Time Last Uploaded</th>   
                                <th class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="align-middle">@Model.ReportTemplate.Path</td>
                                <td id="ir_template_updatedOn" class="align-middle">@Model.ReportTemplate.LastUpdated.ToString("dd MMM yyyy @ HH:mm")</td>
                                <td class="text-center">
                                    <label class="btn btn-success mb-0">
                                        <form id="form_ir_template" method="post">
                                            <i class="fa fa-upload mr-2"></i>Replace
                                            <input type="file" id="ir_template_upload" accept=".pdf" hidden>
                                        </form>
                                    </label>
                                    <a href="@Url.Content("~/Pdf/Template/IR_Form_Template.pdf")" target="_blank" class="btn btn-outline-primary"><i class="fa fa-download mr-2"></i>Download</a>
                                </td>
                            </tr>                            
                        </tbody>
                    </table>
                </div>
            </div>
           <div class="row mb-2">
               <div class="col-md-6 position-relative">
                   <label class="fw-bold position-absolute mb-0" style="bottom:0">Documents available for staff to download in the field:</label>
               </div>
                <div class="col-md-6 text-right">
                     <label class="btn btn-success mb-0">
                        <form id="form_add_staff_document_file" method="post">
                            <i class="fa fa-upload mr-2"></i>Add File
                            <input type="file" id="add_staff_document_file" accept=".pdf, .docx, .xlsx" hidden>
                        </form>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table" id="staff_document_files"></table>                    
                </div>
            </div>
       </div>
        <div class="tab-pane fade py-3" id="fields" role="tabpanel" aria-labelledby="fields-tab" @hideTabStyle>
            <div class="form-group row">
                <label class="col-form-label col-md-3">Select a field type</label>
                <div class="col-md-4">
                    <select class="form-control" id="report_field_types">
                        <option value="">None</option>
                        <option value="1">Position</option>
                        <option value="2">Notified By</option>
                        <option value="3">Callsign</option>
                        <option value="4">Area/Ward</option>
                    </select>
                </div>
            </div>
            <div class="row" id="fieldSettings">
                <div class="col-md-12">
                    <div class="text-right">
                        <button class="btn btn-success mb-3" id="add_field_settings"><i class="fa fa-plus mr-2"></i>Add New Field</button>
                    </div>                    
                    <table class="table" id="field_settings"></table>                    
                </div>
            </div>
            <div class="row" style="display:none" id="positionSettings">
                <div class="col-md-12">
                    <div class="text-right">
                        <button class="btn btn-success mb-3" id="add_position_settings"><i class="fa fa-plus mr-2"></i>Add New Position</button>
                    </div>                    
                    <table class="table" id="position_settings"></table>
                </div>
            </div>
        </div>
        <div class="tab-pane fade py-3" id="user" role="tabpanel" aria-labelledby="user-tab" @hideTabStyle>
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-success mb-3" id="add_user"><i class="fa fa-plus mr-2"></i>Add User</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table" id="user_settings"></table>                    
                </div>
            </div>
        </div>
        <div class="tab-pane fade py-3" id="c4isettings" role="tabpanel" aria-labelledby="c4isettings-tab" @hideTabStyle>
            <form id="form_CompanyDetails"  >
                <div class="form-group row">
                    
                    <div class="col-md-4">
                        <input type="hidden" id="txt_CompanyId" class="form-control" />
                    </div>
                   
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-md-2">Company Name</label>
                    <div class="col-md-4">
                        <input type="text" id="txt_CompanyName" class="form-control" name="CompanyDetails.Name"  />
                    </div>
                    <label class="col-form-label col-md-1">Domain</label>
                    <div class="col-md-4">
                        <input type="text" id="txt_CompanyDomain" class="form-control" name="CompanyDetails.Domain" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-md-2">Primary Logo</label>
                    <div class="col-md-4">
                        <a class="navbar-brand" href="https://www.citywatchsecurity.com.au" target="_blank">
                            <img id="img_PrimaryLogo" height="60px" src="~/images/CWSLogo.png" />
                        </a>
                        

                        <label class="btn btn-success mb-0">
                            <form id="form_cs_primarylogo" method="post">
                                <i class="fa fa-upload mr-2"></i>Replace
                                <input type="file" id="cr_primarylogo_upload" accept=".jpeg,.JPEG,.PNG,.png,.jpg,.JPEG,.gif,.GIF" hidden />
                            </form>
                        </label>
                    </div>
                    <label class="col-form-label col-md-2">Banner Logo</label>
                    <div class="col-md-4">
                        <a class="navbar-brand" href="https://www.citywatchsecurity.com.au" target="_blank">
                            <img id="img_BannerLogo" height="60px" src="~/images/ISOv3.jpg" />
                        </a>
                        <label class="btn btn-success mb-0">
                            <form id="form_cs_primarylogo" method="post">
                                <i class="fa fa-upload mr-2"></i>Replace
                                <input type="file" id="cr_bannerlogo_upload" accept=".jpeg,.JPEG,.PNG,.png,.jpg,.JPEG,.GIF,.gif" hidden />
                            </form>
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-md-2">Home Page Message</label>
                    <div class="col-md-4">
                        <textarea id="txt_HomePageMessage" class="form-control"></textarea>
                    </div>
                    <label class="col-form-label col-md-2">Message Bar Colour</label>
                    <div class="col-md-4">
                        <input type="color" id="txt_color" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-md-2">Banner Message</label>
                    <div class="col-md-4">
                        <textarea id="txt_BannerMessage" class="form-control"></textarea>
                    </div>
                    <label class="col-form-label col-md-2">Hyperlink</label>
                    <div class="col-md-4">
                        <input type="text" id="txt_HyplerLink" class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-md-2">Email Message</label>
                    <div class="col-md-10">
                        <textarea id="txt_EmailMessage" class=" form-control"></textarea>
                    </div>
                
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-md-2">Software License</label>
                    <div class="col-md-2">
                        <select id="drp_swlicense" disabled="disabled">
                            <option value="1" >Gold</option>
                            <option value="2">Silver</option>
                            <option value="3">Bronze</option>
                        </select>
                       
                    </div>
                    <label class="col-form-label col-md-2">Type</label>
                    <div class="col-md-2">
                        <select id="drp_type" disabled="disabled">
                            <option value="1">Annual</option>
                            <option value="2">Monthly</option>
                            <option value="3">Perpectual</option>
                        </select>
                        
                    </div>
                    <label class="col-form-label col-md-2">Expires</label>
                    <div class="col-md-2">
                        <input type="date" id="txt_ExpiryDate" value="30-06-2050" disabled="disabled"  />
                        
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-md-10">
                        <button class="btn btn-success" id="btn_CompanySave">Save</button>
                    </div>

                </div>
            </form>
        </div>
        <div class="tab-pane fade py-3" id="uca" role="tabpanel" aria-labelledby="uca-tab" @hideTabStyle>
            <div class="row">
                <div class="col-md-12 justify-content-center" >
                    <table class="table" id="user_client_access"></table>
                </div>
            </div>
        </div>
    </div>
    
</div>

<!-- modal popup -->

<div class="modal" tabindex="-1" role="dialog" id="msg-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="fa fa-exclamation-circle text-danger" aria-hidden="true"></i> Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Submit failed. Please fill all required fields</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
<!-- toast message -->
<div class="toast hide" role="status" aria-live="polite" aria-atomic="true" data-delay="3000" style="position: absolute; top: 0; left: 50%;">
    <div class="toast-header">
        <strong class="mr-auto">Status</strong>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body"></div>
</div>
<partial name="_SettingsPopup" />
@Html.AntiForgeryToken()

@section scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=@ApiKey&libraries=places"></script>
}