@page
@using CityWatch.Data.Models;
@using CityWatch.Data.Providers;
@using Microsoft.AspNetCore.Http
@model CityWatch.RadioCheck.Pages.Radio.RadioCheckNewModel
@inject IConfigDataProvider configDataProvider
@inject IGuardDataProvider guarddataProvider
@{

    ViewData["Title"] = "Radio Check";
    ViewData["PageName"] = "Radio Check";
    Layout = "_Layout_InnerPage";
    ViewData["DisplayItem"] = Model.DisplayItem;
    var guardid = Request.Query["guid"];  // Initialize with a default value
    // var guard = guarddataProvider.GetGuards().SingleOrDefault(z => z.Id == Model.GuardId);
    

    var loginUserId = Request.Query["lud"];
}

@using CityWatch.Data.Helpers;
@using CityWatch.Data.Services;
@inject IGuardLogDataProvider _guardLogDataProvider
<div class="row mt-2">
    <div class="col-md-12">
    </div>
</div>
@*----------------Hidden Inputs---------------------*@
<input type="hidden" id="txtClientSiteId" />
<input type="hidden" id="txtGuardId" />
<input type="hidden" id="txtSignalRConnectionUrl" value="@Model.SignalRConnectionUrl" />
<input type="hidden" asp-for="@guardid" id="GuardLog_GuardLogin_GuardId" />
<input type="hidden" asp-for="@loginUserId" id="loginUserId" />
<input type="hidden" id="txtguardGuardRCAccess" asp-for="@Model.Guard.IsRCAccess" />
<input type="hidden" id="txtguardGuardRCHRAccess" asp-for="@Model.Guard.IsRCHRAccess" />
<input type="hidden" id="txtguardGuardRCLiteAccess" asp-for="@Model.Guard.IsRCLiteAccess" />
<!-----------------In Acive List -------------------->

<div class="card">
    <div class="card-header container-fluid">
        <div class="row">
            <div class="col-md-11 mr-5">
                <h3>No Activity (@Model.InActiveGuardCount)</h3>
            </div>
            <div class="float-right">
                <a data-toggle="collapse" href="#collapse-example" aria-expanded="true" aria-controls="collapse-example" id="heading-example" class="btn p-0 m-1" style="outline:0;box-shadow: none;">
                    <i class="fa fa-chevron-down pull-right"></i>
                </a>
                <button class="btn p-0 m-1" style="outline:0;box-shadow: none;" id="openInActiveGuardInNewPage">
                    <i class="fa fa-window-restore"></i>
                </button>
            </div>
        </div>
    </div>
    <div id="collapse-example" class="collapse show" aria-labelledby="heading-example">
        <div class="card-body" id="events-list">
            <div class="row mt-2">
                <div class="col-md-12">
                    <table id="clientSiteInActiveGuards" class="table table-bordered" style="width:99%;">
                        <thead>
                            <tr>
                                <th>ClientSiteId</th>
                                <th>Site Name</th>
                                <th>Address</th>
                                <th>Site Name/Guard</th>
                                <th>Expected or Login Time</th>
                                <th>Last Event</th>
                                <th>UTC/GMT</th>
                                <th>2Hr Alert</th>
                                <th>Radio Check</th>
                                <th class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i></th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ClientSiteId</th>
                                <th>Site Name</th>
                                <th>Address</th>
                                <th>Site Name/Guard</th>
                                <th>Expected or Login Time</th>
                                <th>Last Event</th>
                                <th>UTC/GMT</th>
                                <th>2Hr Alert</th>
                                <th>Radio Check</th>
                                <th class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i></th>
                                <th>Name</th>
                            </tr>
                            <!-- Footer content here (will be styled to look like the header) -->
                            @*</tfoot>*@
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-12">
    </div>
</div>

<!----------------- Acive List -------------------->
<div class="card" id="ActiveGuardsDivision">
    <div class="card-header container-fluid">
        <div class="row">
            <div class="col-md-11 mr-5">
                <h3>Activity in Last 2 hrs (@Model.ActiveGuardCount)</h3>
            </div>
            <div class="float-right">
                <a data-toggle="collapse" href="#collapse-example2" aria-expanded="true" aria-controls="collapse-example2" id="heading-example2" class="btn p-0 m-1" style="outline:0;box-shadow: none;">
                    <i class="fa fa-chevron-down pull-right"></i>
                </a>
                <button class="btn p-0 m-1" style="outline:0;box-shadow: none;" id="openActiveGuardInNewPage">
                    <i class="fa fa-window-restore"></i>
                </button>
            </div>
        </div>
    </div>
    <div id="collapse-example2" class="collapse show" aria-labelledby="heading-example2">
        <div class="card-body" id="events-list">
            <div class="row mt-2">
                <div class="col-md-12">
                     <audio id="audioPlayback" controls style="display:none"></audio>
                    <table id="clientSiteActiveGuards" class="table table-bordered" style="width:100%;">
                        <thead>
                            <tr>
                                <th>ClientSiteId</th>
                                <th>Site Name</th>
                                <th>Address</th>
                                <th style="cursor:pointer;">Site Name/Guard</th> @*Task p4#41_A~Z and Z~A sorting issue -- modified by Binoy - 31-01-2024*@
                                <th>LB</th>
                                <th>KV</th>
                                <th>IR</th>
                                <th>SW</th>
                                <th><i class='fa fa-hourglass-half'></i></th>
                                <th>Radio Check</th>
                                <th class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i></th>
                                <th>Name</th>
                                <th>OnlySiteName</th> @*Task p4#41_A~Z and Z~A sorting issue -- added by Binoy - 31-01-2024*@
                                <th>HR1</th>
                                <th>HR2</th>
                                <th>HR3</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>ClientSiteId</th>
                                <th>Site Name</th>
                                <th>Address</th>
                                <th>Site Name/Guard</th>
                                <th>LB</th>
                                <th>KV</th>
                                <th>IR</th>
                                <th>SW</th>
                                <th><i class='fa fa-hourglass-half'></i></th>
                                <th>Radio Check</th>
                                <th class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i></th>
                                <th>Name</th>
                                <th>OnlySiteName</th> @*Task p4#41_A~Z and Z~A sorting issue -- added by Binoy - 31-01-2024*@
                                <th>HR1</th>
                                <th>HR2</th>
                                <th>HR3</th>
                            </tr>
                            <!-- Footer content here (will be styled to look like the header) -->
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row mt-2">
    <div class="col-md-12">
    </div>
</div>
@*P4#70 Non active guards link not required -Commented Below lines -Start -Manju *@
@*------------------Non Active List------------------*@
@* <div class="card">
    <h4 class="card-header">Guards Not Active</h4>
    <div class="card-body" id="events-list">
        <div class="row mt-2">
            <div class="col-md-12 text-center">
                <button class="btn p-0 m-1" style="outline:0;box-shadow: none;color:#0056b3" id="btnNonActiveList">
                    Click here to view
                </button>
            </div>
        </div>
    </div>
</div>
 *@
@*P4#70 Non active guards link not required -Commented Below lines -End -Manju *@
<!----------------- Guard Details Modal -------------------->
<div class="modal fade" id="guardInfoModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="guardInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-vcard-o mr-2"></i>Guard Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <ul class="list-unstyled col-md-12">
                        <li class="row">
                            <label class="col-md-4 col-form-label">Guard Name: </label>
                            <label class="col-form-label" id="lbl_guard_name"></label>
                        </li>
                        <li class="row">
                            <label class="col-md-4 col-form-label">Security No: </label>
                            <label class="col-form-label" id="lbl_guard_security_no"></label>
                        </li>
                        <li class="row">
                            <label class="col-md-4 col-form-label">State: </label>
                            <label class="col-form-label" id="lbl_guard_state"></label>
                        </li>
                        <li class="row">
                            <label class="col-md-4 col-form-label">Gender: </label>
                            <label class="col-form-label" id="lbl_guard_gender"></label>
                        </li>
                        <li class="row">
                            <label class="col-md-4 col-form-label">LOTE: </label>
                            <label class="col-form-label" id="lbl_guard_lotes"></label>
                        </li>
                        <li class="row">
                            <label class="col-md-4 col-form-label">Mobile: </label>
                            <label class="col-form-label" id="lbl_guard_mobile"></label>
                        </li>
                        <li class="row">
                            <label class="col-md-4 col-form-label">Email: </label>
                            <label class="col-form-label" id="lbl_guard_email"></label>
                        </li>
                        <li class="row">
                                        <label class="col-md-4 col-form-label">CRM (Supplier):</label>
                                        <label class="col-form-label" id="lbl_guard_provider"></label>
                        </li>
                        <li class="row">
                            <label class="col-md-4 col-form-label">No:</label>
                             <label class="col-form-label" id="lbl_guard_provider_no"></label>
                            <label class="col-md-4 col-form-label text-right " id="lbl_GuardDetailedDetails"></label>
                         </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!----------------- Log Book,Key Vehicle And Incident Reports Details Modal -------------------->
<div class="modal" tabindex="-1" role="dialog" id="guardLogBookInfoModal" style="overflow:hidden;width:100%;">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document" onscroll="false">
        <div class="modal-content">
            <div class="modal-header col-md-12">

                <h5 class="modal-title col-md-8"><i class="fa fa-vcard-o mr-2"></i><label id="lbl_GuardActivityHeader"></label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-0">
                <div class="form-row">
                    <div class="col-md-12">
                        <table id="clientSiteActiveGuardsLogBookDetails" class="table table-bordered" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>SiteName</th>
                                    <th>LogBook Id</th>
                                    <th>Notes</th>
                                    <th>Activity Type</th>
                                    <th>Created Time</th>
                                    <th>GPS</th>

                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!----------------- Vehicle  Details Modal -------------------->
<div class="modal" tabindex="-1" role="dialog" id="guardKeyVehicleInfoModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12">

                <h5 class="modal-title col-md-8"><i class="fa fa-vcard-o mr-2"></i><label id="lbl_GuardActivityHeader1"></label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-0">
                <div class="form-row">
                    <div class="col-md-12">
                        <table id="clientSiteActiveGuardsKeyVehicleDetails" class="table table-bordered" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>SiteName</th>
                                    <th>KeyVehicleLog Id</th>
                                    <th>License No</th>
                                    <th>Individual</th>
                                    <th>Company</th>
                                    <th>Activity Type</th>
                                    <th>Created Time</th>

                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!----------------- Incident Reports  Details Modal -------------------->
<div class="modal" tabindex="-1" role="dialog" id="guardIncidentReportsInfoModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12">

                <h5 class="modal-title col-md-8"><i class="fa fa-vcard-o mr-2"></i><label id="lbl_GuardActivityHeader2"></label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-0">
                <div class="form-row">
                    <div class="col-md-12">
                        <table id="clientSiteActiveGuardsIncidentReportsDetails" class="table table-bordered" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>SiteName</th>
                                    <th>IncidentReport Id</th>
                                    <th>File</th>

                                    <th>Activity Type</th>
                                    <th>Created Time</th>

                                </tr>
                            </thead>

                        </table>
                        @if (Model.Guard != null)
                        {
                            @if (Model.Guard.IsRCAccess == false && Model.Guard.IsRCHRAccess == false)
                            {
                                <label class="mt-5"><h5 class="modal-title col-md-12">Last Known IR from this guard</h5></label>
                                <table id="clientSiteActiveGuardsLastIncidentReportsDetails" class="table table-bordered" style="width:100%;"></table>
                            }
                        }
                        else
                        {
                             <label class="mt-5"><h5 class="modal-title col-md-12">Last Known IR from this guard</h5></label>
                                <table id="clientSiteActiveGuardsLastIncidentReportsDetails" class="table table-bordered" style="width:100%;"></table>
                                                        
                        }
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<!----------------- SW  Details Modal -------------------->
<div class="modal" tabindex="-1" role="dialog" id="guardSWInfoModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12">

                <h5 class="modal-title col-md-8"><i class="fa fa-vcard-o mr-2"></i><label id="lbl_GuardActivityHeader4"></label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-0">
                <div class="form-row">
                    <div class="col-md-12 pb-2">
                        <table id="clientSiteActiveGuardsSWDetails" class="table table-bordered" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Template Name       </th>
                                    <th>Smart Wand</th>
                                    <th>Smart Wand Number</th>
                                    <th>Inspection Start</th>
                                    <th>Location</th>

                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<!----------------- Log Book History Modal -------------------->
<div class="modal" tabindex="-1" role="dialog" id="guardLogBookHistoryModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12">
                <h5 class="modal-title col-md-8"><i class="fa fa-vcard-o mr-2"></i><label id="lbl_GuardLogBookHistoryModalHeader"></label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-0">
                <div class="form-row">
                    <div class="col-md-12 bg-info text-center mb-2">
                        <label id="lbl_lb_History_SitenameInfo" class="col-form-label text-white"></label>
                    </div>
                    <div class="col-md-12">
                        <table id="clientSiteActiveGuardsLogBookHistory" class="table table-bordered" style="width:100%;">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!----------------- Vehicle  History Modal -------------------->
<div class="modal" tabindex="-1" role="dialog" id="guardKeyVehicleHistoryModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12">

                <h5 class="modal-title col-md-8"><i class="fa fa-vcard-o mr-2"></i><label id="lbl_KvGuardActivityHistoryHeader"></label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-0">
                <div class="form-row">
                    <div class="col-md-12 bg-info text-center mb-2">
                        <label id="lbl_kv_History_SitenameInfo" class="col-form-label text-white"></label>
                    </div>
                    <div class="col-md-12">
                        <table id="clientSiteActiveGuardsKeyVehicleHistory" class="table table-bordered" style="width:99%;">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!----------------- Incident Reports History Modal -------------------->
<div class="modal" tabindex="-1" role="dialog" id="guardIncidentReportsHistoryModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12">

                <h5 class="modal-title col-md-8"><i class="fa fa-vcard-o mr-2"></i><label id="lbl_IrGuardActivityHistoryHeader"></label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-0">
                <div class="form-row">
                    <div class="col-md-12 bg-info text-center mb-2">
                        <label id="lbl_Ir_History_SitenameInfo" class="col-form-label text-white"></label>
                    </div>
                    <div class="col-md-12">
                        <table id="clientSiteActiveGuardsIncidentReportsHistory" class="table table-bordered" style="width:100%;">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!----------------- SW  History Modal -------------------->
<div class="modal" tabindex="-1" role="dialog" id="guardSWHistoryModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12">

                <h5 class="modal-title col-md-8"><i class="fa fa-vcard-o mr-2"></i><label id="lbl_SwGuardActivityHistoryHeader"></label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-0">
                <div class="form-row">
                    <div class="col-md-12 bg-info text-center mb-2">
                        <label id="lbl_Sw_History_SitenameInfo" class="col-form-label text-white"></label>
                    </div>
                    <div class="col-md-12">
                        <table id="clientSiteActiveGuardsSwHistory" class="table table-bordered" style="width:100%;">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!----------------- Radio Check Status pop up -------------------->
<div class="modal fade" id="selectRadioCheckStatus" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="selectRadioCheckStatusLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Radio Check Status</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="hidden" id="clientSiteId" value="" />
                    <input type="hidden" id="guardId" value="" />
                    <input type="hidden" id="nottifcationType" value="" />
                    <ul id="itemList" class="list-group">
                        @if (@configDataProvider.GetRadioCheckStatusForDropDown() != null)
                        {

                            foreach (var item in @configDataProvider.GetRadioCheckStatusForDropDown())
                            {

                                if (!string.IsNullOrWhiteSpace(item.Text))
                                {
                                    if (item.Text.Trim().ToLower() != "select")
                                    {
                                        <li class="list-group-item" id="attach_@item.Value" data-index="@item.Value" style="border-left: 0;border-right: 0;font-size:12px;padding:3px">
                                            @item.Text
                                            <i class="fa fa-check ml-2 text-success btn-select-radio-status" title="Select" style="cursor: pointer;float:right"></i>

                                        </li>

                                    }

                                }
                                else
                                {
                                    <li class="list-group-item list-group-item-success" id="attach_@item.Value" data-index="@item.Value" style="border-left: 0;border-right: 0;font-size:12px;padding:3px">



                                    </li>

                                }


                            }

                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="selectRadioCheckStatusActive" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="selectRadioCheckStatusActiveLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Radio Check Status</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="hidden" id="clientSiteId" value="" />
                    <input type="hidden" id="guardId" value="" />
                    <ul id="itemList2" class="list-group">
                        @if (@configDataProvider.GetRadioCheckStatusForDropDown() != null)
                        {

                            foreach (var item in @configDataProvider.GetRadioCheckStatusForDropDown())
                            {

                                if (!string.IsNullOrWhiteSpace(item.Text))
                                {
                                    if (item.Text.Trim().ToLower() != "select")
                                    {
                                        <li class="list-group-item" id="attach_@item.Value" data-index="@item.Value" style="border-left: 0;border-right: 0;font-size:12px;padding:3px">
                                            @item.Text
                                            <i class="fa fa-check ml-2 text-success btn-select-radio-status" title="Select" style="cursor: pointer;float:right"></i>

                                        </li>

                                    }

                                }
                                else
                                {
                                    <li class="list-group-item list-group-item-success" id="attach_@item.Value" data-index="@item.Value" style="border-left: 0;border-right: 0;font-size:12px;padding:3px">



                                    </li>

                                }


                            }

                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!----------------- Hover Modal -------------------->
<div class="modal" tabindex="-1" role="dialog" id="hoverModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12">

                <h5 class="modal-title col-md-8"><i class="fa fa-vcard-o mr-2"></i><label id="lbl_GuardActivityHeaderHover"></label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-0">
                <div class="form-row">
                    <div class="col-md-12">
                        <table id="clientSiteRadiostatusDetailsHover" class="table table-bordered" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>SiteName</th>
                                    <th>LogBook Id</th>
                                    <th>Notes</th>
                                    <th>Activity Type</th>
                                    <th>Created Time</th>

                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- Client site RC ActionList Edit kpi settings modal -->
<div class="modal" tabindex="-1" role="dialog" id="kpi-settings-modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-gear" aria-hidden="true"></i> Edit Settings for <span id="client_site_name"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="modelchoice" />
                <div id="div_site_settings"></div>
            </div>
        </div>
    </div>
</div>
<!-- logbook model popup start-->
<div class="modal fade bd-example-modal-lg" id="logbook-modalRadio" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="logbook" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Client Type & Client Site Select
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div id="scrollableDiv">
                            <table class="table" id="client_site_RadioSearch"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@* search two start
 *@
<div class="modal fade bd-example-modal-lg" id="logbook-modalRadioTwo" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="logbook" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Client Type & Client Site Select
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <div id="scrollableDiv">
                            <table class="table" id="client_site_RadioSearchTwo"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* search two end  *@

<!----------------- CRM Supplier Details Modal -------------------->
<div class="modal fade" id="crmSupplierDetailsModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="crmSupplierDetailsLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-vcard-o mr-2"></i>CRM Supplier Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <ul class="list-unstyled col-md-12">
                        <li class="row">

                            <label style="white-space: nowrap;" class="col-md-3 col-form-label">Company Name:  </label>
                            <label class="col-form-label" id="lbl_company_name"></label>
                        </li>
                        <li class="row">
                            <label class="col-md-3 col-form-label">ABN: </label>
                            <label class="col-form-label" id="lbl_abn"></label>
                        </li>
                        <li class="row">
                            <label class="col-md-3 col-form-label">Landline: </label>
                            <label class="col-form-label" id="lbl_landline"></label>
                        </li>

                        <li class="row">
                            <label class="col-md-3 col-form-label">Email: </label>
                            <label class="col-form-label" id="lbl_email"></label>
                        </li>
                        <li class="row">
                            <label class="col-md-3 col-form-label">Website:</label>
                            <label class="col-form-label" id="lbl_website"></label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="specificGuardDetailsModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12">

                <h5 class="modal-title col-md-8"><i class="fa fa-vcard-o mr-2"></i><label id="lbl_specificGuardName"></label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-0">
                <div class="form-row">
                    <div class="col-md-12 bg-info text-center mb-2">
                        <input type="hidden" id="txt_SpecificGuardDetailsId" />
                    </div>
                    <div class="col-md-12" id="guardcontent">
                        <table id="specificGuardDetailsTable" class="table table-bordered" style="width:99%;">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>License No</th>
                                    <th>Initial</th>
                                    <th>Mobile No</th>
                                    <th>Email</th>
                                    <th>CRM Supplier</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lgAlarm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display:none">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Download SOP Documents</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="clientSiteId" value="" />
                <table class="table table-hover" id="StaffDocumentsAlarm">
                   @*  <thead>
                        <tr>
                            <th scope="col" style="width:80%">File Name</th>
                            <th scope="col" style="align-content:center"><i class="fa fa-cogs ml-5" aria-hidden="true"></i></th>

                        </tr>
                    </thead> *@
                   
                </table>
            </div>

        </div>
    </div>
</div>

<!-- logbook model popup end-->
@Html.AntiForgeryToken()
<partial name="_RadioCheckListModels" />
@section PageHeader {
    <h3 class="text-center">RADIO CHECKLIST</h3>
}

