@page
@using CityWatch.Data.Enums;
@using CityWatch.Data.Models;
@using CityWatch.Data.Providers;
@using CityWatch.Web.Services;
@using CityWatch.Data.Helpers
@using Microsoft.Extensions.Configuration

@inject IViewDataService viewDataService
@inject IGuardLogDataProvider guardmodel
@inject IConfiguration Configuration
@model CityWatch.Web.Pages.Guard.DailyLogModel
@{
    ViewData["Title"] = "CityWatch Security | Guard Daily Log";
    ViewData["PageName"] = CityWatch.Web.Helpers.PageNameHelper.DailyGuardLog;
    var mapSettings = @Configuration.GetSection("GoogleMap").Get(typeof(GoogleMapSettings)) as GoogleMapSettings;
    var ApiKey = mapSettings.ApiKey;
    <input type="hidden" id="ClientSiteID" asp-for="@Model.GuardLog.ClientSiteLogBook.ClientSite.Id" />
    <input type="hidden" id="hid_duressEnabledGpsCoordinates">
    <input type="hidden" id="hid_duressEnabledAddress">
}
<div id="loader"></div>
<div class="row">
    <div class="col-md-4">
        <div>
            <b>Log Book Date: </b>@Model.GuardLog.ClientSiteLogBook.Date.ToString("dd MMM yyyy (dddd)").ToUpper()   @*  @DateTime.Today.ToString("dd MMM yyyy (dddd)").ToUpper() *@
        </div>
    </div>
    <div class="col-md-3 p-0">
        <div class="float-right">
            Auto refresh in <span id="clockRefresh">03 min 00 sec</span>
        </div>
    </div>
    <div class="col-md-5">
        <div class="float-right">
            @*<button type="button" class="btn btn-outline-primary" id="btnRefreshActivityStatus"><i class="fa fa-refresh" aria-hidden="true"></i> Refresh Now</button>*@
            <button type="button" class="btn btn-outline-primary" id="btnHRDetails"><i class="fa fa-user" aria-hidden="true"></i>HR</button>
            <a class="btn btn-outline-primary" id="generate_log_AlldocketList">POI List</a>
            <a class="btn btn-outline-primary" href="SiteLogPdf?id=@Model.GuardLog.ClientSiteLogBookId&t=gl" target="_blank">Download PDF</a>
            <a class="btn btn-primary" href="#" id="guard_offduty">Off Duty</a>
        </div>
    </div>




</div>
<div class="row my-2">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <b>Site & Guard Details</b>
                <i class="fa fa-chevron-up text-black-50" aria-hidden="true" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"></i>
            </div>
            <div id="collapseOne" class="collapse multi-collapse show">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <ul class="list-unstyled">
                                <li class="d-flex flex-sm-row flex-column flex-sm-wrap">
                                    <span class="mr-1"><b>Client Site: </b>@Model.GuardLog.ClientSiteLogBook.ClientSite.Name | </span>
                                    <span><b>Client Type: </b>@Model.GuardLog.ClientSiteLogBook.ClientSite.ClientType.Name</span>
                                </li>
                                <li>
                                    <b>Address: </b>@(Model.GuardLog.ClientSiteLogBook.ClientSite.Address ?? "N/A")
                                </li>
                                <li>
                                    <b>Landline: </b>@(Model.GuardLog.ClientSiteLogBook.ClientSite.LandLine ?? "N/A")
                                </li>
                                <li class="d-flex flex-sm-row flex-column flex-sm-wrap">
                                    @{
                                        var clientSmartWands = Model.ViewDataService.GetClientSiteSmartWands(Model.GuardLog.ClientSiteLogBook.ClientSiteId);
                                    }
                                    @Html.Raw("<b class=\"mr-1\">Smart WANDs: </b>" + (clientSmartWands.Any() ? string.Join(" ", clientSmartWands.Select(z => $"<span class=\"mr-1\">{z.SmartWandId} : {z.PhoneNumber},</span>")) : "N/A"))
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 text-center">                            
                            @{
                                bool isControlRoomLogBook = false;  // Project 4 , Task 48, Audio notification, Added By Binoy
                                var clientSiteForLogbook = Model.ClientDataProvider.GetClientSiteForRcLogBook();
                                var isDuressActive = Convert.ToBoolean(ViewData["IsDuressEnabled"]);
                                var duressStatus = isDuressActive ? "Active" : "Normal";
                                if (clientSiteForLogbook.Count != 0)
                                {
                                    if (clientSiteForLogbook.FirstOrDefault().Id != Model.GuardLog.ClientSiteLogBook.ClientSiteId)
                                    {

                                        var btnImage = isDuressActive ? "~/images/DuressButton.jpg" : "~/images/DuressButton_Inactive.jpg";
                                        <button type="button" class="btn btn-duress btn-md @duressStatus.ToLower()" id="duress_btn">DURESS</button>
                                        <p class="mb-0 mt-2">
                                            Status: <span id="duress_status" class="@(isDuressActive ? "font-weight-bold" : "")">@duressStatus</span>
                                        </p>

                                    }
                                    else{ isControlRoomLogBook = true; }


                                }
                                else
                                {

                                    var btnImage = isDuressActive ? "~/images/DuressButton.jpg" : "~/images/DuressButton_Inactive.jpg";
                                    <button type="button" class="btn btn-duress btn-md @duressStatus.ToLower()" id="duress_btn">DURESS</button>
                                    <p class="mb-0 mt-2">
                                        Status: <span id="duress_status" class="@(isDuressActive ? "font-weight-bold" : "")">@duressStatus</span>
                                    </p>

                                }

                                <input type="hidden" id="inpHdisControlRoomLogBook" value="@isControlRoomLogBook.ToString().ToLower()" />
                            }                            
                        </div>
                    </div>
                    <hr />
                    <p class="mb-2">
                        <b>Guard Name: </b>@Model.GuardLog.GuardLogin.Guard.Name ;
                        <b>Initials: </b>@Model.GuardLog.GuardLogin.Guard.Initial ;
                        <b>Smart WAND: </b>@(Model.GuardLog.GuardLogin.SmartWand?.SmartWandId ?? "N/A") ;
                        <b>Position: </b>@(Model.GuardLog.GuardLogin.Position?.Name ?? "N/A")
                    </p>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-lg-6 pr-2 mb-2">
                <table class="table" id="custom_field_log" style="display:none"></table>
            </div>
            <div class="col-lg-6 pl-2">
                <table class="table" id="patrol_cars_log" style="display:none"></table>
            </div>
        </div>
        <div class="card my-2" id="card_new_entry">
            <div class="card-header d-flex justify-content-between">
                <b>Add a new log book entry</b>
                <i class="fa fa-chevron-up text-black-50" aria-hidden="true" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"></i>
            </div>
            <div id="collapseTwo" class="collapse multi-collapse show">
                <div class="card-body">
                    <form id="form_newlog">
                        <div class="form-group row">
                            <label for="new_event_time" class="col-md-2 col-md-2-tight col-form-label">Event Time</label>
                            <div class="col-md-2 col-md-2-tight">
                                <input type="time" class="form-control" id="new_log_time" value="@DateTime.Now.ToString("hh:mm")">
                                <input type="hidden" asp-for="@Model.GuardLog.EventDateTime" />
                                <input type="hidden" asp-for="@Model.GuardLog.TimePartOnly" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="new_event_notes" class="col-md-2 col-md-2-tight col-form-label">Event / Notes</label>
                            <div class="col-md-10">
                                @{

                                    if (clientSiteForLogbook.Count != 0)
                                    {
                                        var value = 0;
                                        if (clientSiteForLogbook.FirstOrDefault().Id == Model.GuardLog.ClientSiteLogBook.ClientSiteId)
                                        {
                                            value = 1;
                                            <textarea class="form-control" rows="4" asp-for="@Model.GuardLog.Notes"></textarea>

                                        }
                                        else
                                        {
                                            value = 0;
                                            <textarea class="form-control" rows="4" asp-for="@Model.GuardLog.Notes" onPaste="return false"></textarea>
                                        }
                                        <input type="hidden" id="IsAssignedLogBook" value="@value" />
                                    }

                                }
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-10 offset-md-2">
                                <div asp-validation-summary="All" id="validation-summary"></div>
                            </div>
                        </div>
                        <input type="hidden" asp-for="@Model.GuardLog.ClientSiteLogBookId" />
                        <input type="hidden" asp-for="@Model.GuardLog.ClientSiteLogBook.Date" asp-format="{0:yyyy-MM-dd HH:mm:ss}" />
                        <input type="hidden" asp-for="@Model.GuardLog.GuardLoginId" />
                        <input type="hidden" asp-for="@Model.GuardLog.GuardLogin.GuardId" />
                        <input type="hidden" asp-for="@Model.GuardLog.ClientSiteLogBook.ClientSite.Id" />
                        <input type="hidden" name="isEditable" value="@((Model.GuardLog.GuardLogin.UserId != 0).ToString().ToLower())" />
                        <input type="hidden" id="previousLogBookId" value="@ViewData["PreviousLogBookId"]" />
                        <input type="hidden" id="previousLogBookDateString" value="@ViewData["PreviousLogBookDateString"]" />                        
                    </form>
                </div>
                <div class="card-footer bg-white">
                    <button class="btn btn-primary" id="add_new_log"><i class="fa fa-plus mr-2"></i>Add Entry</button>
                </div>
            </div>
        </div>
    </div>
</div>


<partial name="_PrintManualDocketPopup" />

<div class="row mt-2">
    <div class="col-md-12">
        <table class="table" id="guard_daily_log"></table>
    </div>
</div>
<div class="row mt-2" id="wrapper_previous_day_log">
    <div class="col-md-12">
        <h6>Previous Day Logs</h6>
        <table class="table" id="guard_daily_log_previous_day"></table>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <b>Do's & Dont's</b>
                <i class="fa fa-chevron-up text-black-50" aria-hidden="true" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree"></i>
            </div>
            <div id="collapseThree" class="collapse multi-collapse show">
                <div class="card-body row m-0">
                    <div class="col-md-6">
                        <h3 class="text-success">Do's</h3>
                        <ul class="list-unstyled">
                            @foreach (var item in @guardmodel.GetDosandDontsFields(1))
                            {
                                <li><i class="fa fa-check text-success mr-2"></i>@item.Name</li>
                            }
                            @*<li><i class="fa fa-check text-success mr-2"></i>Smart WAND checked and is online / no damage</li>
                            <li><i class="fa fa-check text-success mr-2"></i>PC / Laptop Checked; Dropbox checked / sync ok</li>
                            <li><i class="fa fa-check text-success mr-2"></i>CCTV checked and is working / active</li>
                            <li><i class="fa fa-check text-success mr-2"></i>All radios working and on charge</li>
                            <li><i class="fa fa-check text-success mr-2"></i>Printer ok, tonner ok, paper level is ok</li>
                            <li><i class="fa fa-check text-success mr-2"></i>Gatehouse is neat and tidy; rubbish removed</li>
                            <li><i class="fa fa-check text-success mr-2"></i>Turnstile checked; all ok</li>
                            <li><i class="fa fa-check text-success mr-2"></i>Site Boom Gates/main gate working</li>
                            <li><i class="fa fa-check text-success mr-2"></i>Fire panel + ASE + VESDA appears ok</li>
                            <li><i class="fa fa-check text-success mr-2"></i>Consumables such as Toilet paper / Fly Spray / Handwash etc all ok</li>
                            <li><i class="fa fa-check text-success mr-2"></i>Write in logbook within 2 hours of last entry</li>
                            <li><i class="fa fa-check text-success mr-2"></i>Ensure entries are trueful</li>*@
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3 class="text-danger">Dont's</h3>
                        <ul class="list-unstyled">
                            @foreach (var item in @guardmodel.GetDosandDontsFields(2))
                            {
                                <li><i class="fa fa-times text-danger mr-2"></i>@item.Name</li>
                            }
                            @*<li><i class="fa fa-times text-danger mr-2"></i>I started my shift</li>
                            <li><i class="fa fa-times text-danger mr-2"></i>I ended my shift</li>
                            <li><i class="fa fa-times text-danger mr-2"></i>I went on patrol</li>
                            <li><i class="fa fa-times text-danger mr-2"></i>I completed an Incident Report</li>
                            <li><i class="fa fa-times text-danger mr-2"></i>Code 20 "Welfare" check</li>
                            <li><i class="fa fa-times text-danger mr-2"></i>Write in logbook longer than 2 hours after last entry</li>
                            <li><i class="fa fa-times text-danger mr-2"></i>Write any false or misleading entries</li>
                            <li><i class="fa fa-times text-danger mr-2"></i>Mention you are doing a handover / next guard onsite</li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="logbook-expiry-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="logbookExpiryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-exclamation-circle text-warning mr-2"></i>Warning: Logbook Expired</h5>
            </div>
            <div class="modal-body">
                <p>A new day started and this logbook (LB) expired. Click Ok to create a new book for @Model.GuardLog.ClientSiteLogBook.Date.AddDays(1).ToString("dd MMM yyyy")</p> @* @DateTime.Today.AddDays(1).ToString("dd MMM yyyy") *@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn_confirm_logbook_expiry">Ok</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="pushNoTificationsGuardModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="pushNoTificationsControlRoomModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-envelope-o mr-2"></i>Push Notifications</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form_push_notifications_for_rc">
                    <div class="container">
                        <ul class="nav nav-tabs" id="pushNotificationTextMessageTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="textMessageTab" data-toggle="tab" href="#textMessage" role="tab" aria-controls="textMessage" aria-selected="true">Text Message</a>
                            </li>
                        </ul>
                        <div class="tab-content p-2">
                            <div class="tab-pane active" id="textMessage" role="tabpanel" aria-labelledby="textMessage">
                                <input type="hidden" id="gl_client_site_id" />
                                <div class="row m-0">
                                    <div class="col-md-12">
                                        <form>
                                            <input type="hidden" id="txtNotificationsControlRoomMessage" />
                                            <input type="hidden" id="rcPushMessageId" />
                                            <div class="form-group row mb-3">
                                                <label for="gs_site_email" class="col-md-4 col-form-label">Acknowledge Message :</label>
                                                <div class="col-md-6 mr-5 mt-2 p-0">
                                                    <input type="checkbox" id="chkAcknowledgeMessage" checked>
                                                    <input type="hidden" id="IsAcknowledgeMessage">
                                                </div>
                                            </div>

                                            <div class="form-group row mb-1">
                                                <label for="gs_site_email" class="col-md-4 col-form-label">Message Back Instead :</label>
                                                <div class="col-md-6 mr-5 mt-2 p-0">
                                                    <input type="checkbox" id="chkMessageBack">
                                                    <input type="hidden" id="IsMessageBack">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-4"></div>
                                                <div class="col-md-6 p-0">
                                                    <textarea id="txtPushNotificationGuardReturnMessage" style="width:450px;height:200px;" class="form-control" disabled></textarea>
                                                </div>
                                            </div>

                                            <div class="form-row text-right">
                                                <div class="col-md-12  text-right">
                                                    <button type="button" id="btnSendPushLotificationFromGuardMessage" class="btn btn-primary">Send >></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="display:block">
                <div class="text-left">
                    <div asp-validation-summary="All" id="PushNotificationsValidationSummary"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addGuardModalnew" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="addGuardModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add/Edit Guard</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row m-0">
                    <div class="col-md-12">
                        @*<form id="frm_add_guard">*@
                            <input type="hidden" id="Guard_Id" name="Guard.Id" />
                        @*    <div class="form-group row">
                                <label class="col-md-2 col-form-label">Guard Name</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="Guard_Name1" name="Guard.Name">
                                </div>
                                <label class="col-md-1 col-form-label text-left">Intial</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" id="Guard_Initial1" name="Guard.Initial">
                                </div>
                                <label class="col-md-1 col-form-label">Mobile</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="Guard_Mobile1" name="Guard.Mobile" value="+61 4">
                                </div>

                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label">License No (Primary)</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="Guard_SecurityNo1" name="Guard.SecurityNo">
                                </div>
                                <label class="col-md-1 col-form-label">State</label>
                                <div class="col-md-2">
                                    <select id="Guard_State1" name="Guard.State" asp-items="@Model.ViewDataService.LicenseStates" class="form-control"></select>
                                </div>
                                <label class="col-md-1 col-form-label">Email</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="Guard_Email1" name="Guard.Email">
                                </div>
                            </div>
                            <div class="form-group row">

                                <label class="col-md-2 form-check-label">Access</label>
                                <div class="col-md-3">
                                    <select class="form-control" multiple="multiple" id="Guard_Access1" name="Guard.GuardAccess">
                                        @foreach (var AccessType in viewDataService.GetAccessTypes(true))
                                        {

                                            <option value="@AccessType.Value">@AccessType.Text</option>
                                        }
                                    </select>

                                </div>
                                <label class="col-md-1 form-check-label">Is Active</label>
                                <div class="col-md-2">
                                    <input type="checkbox" class="form-check" id="cbIsActive1">
                                    <input type="hidden" id="Guard_IsActive1" name="Guard.IsActive">
                                </div>
                                <label class="col-md-1 col-form-label">Provider</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" id="Guard_Provider1" name="Guard.Provider">
                                </div>
                            </div>


                            @*    <div class="form-group row">
                            <label class="col-md-2 form-check-label">Is Active</label>
                            <div class="col-md-3">
                            <input type="checkbox" class="form-check" id="cbIsActive">
                            <input type="hidden" id="Guard_IsActive" name="Guard.IsActive">
                            </div>
                            </div> *@
                       @*     <div class="form-row">
                                <div class="col-md-12">
                                    <div class="alert alert-success" role="alert" style="display:none" id="guard_saved_status1">
                                        <i class="fa fa-check-circle-o mr-2"></i>Guard saved successfully
                                    </div>
                                    <div asp-validation-summary="All" id="glValidationSummary1"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <hr />*@
                <div class="row m-0">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs" id="guardComplianceTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="licenses-tab" data-toggle="tab" href="#guardLicenses" role="tab" aria-controls="guardLicenses" aria-selected="true">Licenses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="compliances-tab" data-toggle="tab" href="#guardCompliances" role="tab" aria-controls="guardCompliances" aria-selected="false">Compliances</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="guardDataTabContent">
                            <div class="tab-pane fade show active py-3" id="guardLicenses" role="tabpanel" aria-labelledby="licenses_tab">
                                <div class="form-row mb-2 btn-add-guard-addl-details">
                                    <div class="col-md-2 offset-md-10 text-right">
                                                <button class="btn btn-success" id="btnAddGuardLicenseLogDaily"><i class="fa fa-plus mr-2"></i>Add License</button>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <table id="tbl_guard_licenses1" class="table table-bordered table-sm" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>License No</th>
                                                    <th>Type</th>
                                                    <th>Expiry Date</th>
                                                    <th>Reminder 1</th>
                                                    <th>Reminder 2</th>
                                                    <th>File</th>
                                                    <th class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i></th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade py-3" id="guardCompliances" role="tabpanel" aria-labelledby="compliances-tab">
                                <div class="form-row mb-2 btn-add-guard-addl-details">
                                    <div class="col-md-2 offset-md-10 text-right">
                                        <button class="btn btn-success" id="btnAddGuardCompliance1"><i class="fa fa-plus mr-2"></i>Add Compliance</button>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <table id="tbl_guard_compliances1" class="table table-bordered table-sm" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Reference No</th>
                                                    <th>HR Group</th>
                                                    <th>Description</th>
                                                    <th>Expiry Date</th>
                                                    <th>Reminder 1</th>
                                                    <th>Reminder 2</th>
                                                    <th>File</th>
                                                    <th class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i></th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            @*<div class="modal-footer justify-content-start">
                <button type="button" class="btn btn-primary" id="btn_save_guard">Save Guard</button>
            </div>*@
        </div>
    </div>
</div>
</div>
</div>
<div class="modal fade" id="addGuardLicenseLogDailyModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="addLicenceModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add/Edit License</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="frm_add_license">
                        <input type="hidden" id="GuardLicense_Id1" name="GuardLicense.Id" />
                        <input type="hidden" id="GuardLicense_GuardId1" name="GuardLicense.GuardId" />
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="form-label">License No</label>
                                <input type="text" class="form-control" id="GuardLicense_LicenseNo1" name="GuardLicense.LicenseNo">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="form-label">License Type</label>
                                <select class="form-control" id="GuardLicense_LicenseType1" name="GuardLicense.LicenseType" asp-items="@Html.GetEnumSelectList<GuardLicenseType>().OrderBy(z => z.Text)">
                                    <option value="">Select</option>
                                </select>
                                <input type="hidden" id="GuardLicense_License1" name="GuardLicense.LicenseType" />
                                <input type="hidden" id="LicenseTypeOther1" name="GuardLicense.LicenseTypeName" />
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="form-label">Expiry Date</label>
                                <input type="date" class="form-control" id="GuardLicense_ExpiryDate1" name="GuardLicense.ExpiryDate" min="@DateTime.Today.ToString("yyyy-MM-dd")">
                            </div>
                            <div class="form-group col-md-3">
                                <label class="form-label">Reminder 1</label>
                                <input type="number" class="form-control" id="GuardLicense_Reminder11" name="GuardLicense.Reminder1" min="1" max="365">

                            </div>
                            <div class="form-group col-md-3">
                                <label class="form-label">Reminder 2</label>
                                <input type="number" class="form-control" id="GuardLicense_Reminder21" name="GuardLicense.Reminder2" min="1" max="365">
                            </div>
                        </div>
                        <hr />
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="form-label">License Document: <span id="guardLicense_fileName1">None</span></label>
                                <p class="mt-2">
                                    <input type="hidden" id="GuardLicense_FileName1" name="GuardLicense.FileName" />
                                    <label class="btn btn-sm btn-outline-primary mb-0">
                                        <i class="fa fa-upload mr-2"></i>Upload
                                        <input type="file" id="upload_license_file1" accept=".jpg, .jpeg, .png, .bmp, .pdf" hidden>
                                    </label>
                                    <button type="button" class="btn btn-sm btn-outline-danger" id="delete_license_file1"><i class="fa fa-trash mr-2"></i>Delete</button>
                                    <small class="form-text text-muted">
                                        Upload a file with extension .jpg, .jpeg, .png, .bmp, .pdf
                                    </small>
                                </p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div asp-validation-summary="All" id="licenseValidationSummary1"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-start">
                    <button type="button" class="btn btn-primary" id="btn_save_guard_license1">Save License</button>
                </div>
            </div>
        </div>
    </div>
<div class="modal fade" id="addGuardCompliancesLogDailyModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="addComplianceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add/Edit Compliance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frm_add_compliance">
                    <input type="hidden" id="GuardCompliance_Id1" name="GuardCompliance.Id" />
                    <input type="hidden" id="GuardCompliance_GuardId1" name="GuardCompliance.GuardId" />
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="form-label">Reference No</label>
                            <input type="text" class="form-control" id="GuardCompliance_ReferenceNo1" name="GuardCompliance.ReferenceNo">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-label">Description</label>
                            <input type="text" class="form-control" id="GuardCompliance_Description1" name="GuardCompliance.Description">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="form-label">Expiry Date</label>
                            <input type="date" class="form-control" id="GuardCompliance_ExpiryDate1" name="GuardCompliance.ExpiryDate" min="@DateTime.Today.ToString("yyyy-MM-dd")">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="form-label">Reminder 1</label>
                            <input type="number" class="form-control" id="GuardCompliance_Reminder11" name="GuardCompliance.Reminder1" min="1" max="365">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="form-label">Reminder 2</label>
                            <input type="number" class="form-control" id="GuardCompliance_Reminder21" name="GuardCompliance.Reminder2" min="1" max="365">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="form-label">HR Group</label>
                            <select class="form-control" id="GuardCompliance_HrGroup1" name="GuardCompliance.HrGroup" asp-items="@Html.GetEnumSelectList<HrGroup>()">
                                <option selected="selected" value="">Select</option>
                            </select>
                        </div>
                    </div>
                    <hr />
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label class="form-label">Compliance Document: <span id="guardCompliance_fileName1">None</span></label>
                            <p class="mt-2">
                                <input type="hidden" id="GuardCompliance_FileName1" name="GuardCompliance.FileName" />
                                <label class="btn btn-sm btn-outline-primary mb-0">
                                    <i class="fa fa-upload mr-2"></i>Upload
                                    <input type="file" id="upload_compliance_file1" accept=".jpg, .jpeg, .png, .bmp, .pdf" hidden>
                                </label>
                                <button type="button" class="btn btn-outline-danger btn-sm" id="delete_compliance_file1"><i class="fa fa-trash mr-2"></i>Delete</button>
                                <small class="form-text text-muted">
                                    Upload a file with extension .jpg, .jpeg, .png, .bmp, .pdf
                                </small>
                            </p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div asp-validation-summary="All" id="complianceValidationSummary1"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-start">
                <button type="button" class="btn btn-primary" id="btn_save_guard_compliance1">Save Compliance</button>
            </div>
        </div>
    </div>
</div>
<partial name="_MessagePopup" />
@Html.AntiForgeryToken()
@section PageHeader {
    <h3 class="text-center">LOGBOOK PORTAL</h3>
}

@section scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=@ApiKey&callback=initialize&libraries=places"></script>

}

           