@page
@using CityWatch.Data.Enums;
@using CityWatch.Data.Models;
@using CityWatch.Web.Services
@using CityWatch.Data.Helpers
@using Microsoft.Extensions.Configuration
@model CityWatch.Web.Pages.Guard.KeyVehicleLogModel
@inject IViewDataService viewDataService
@inject IConfiguration Configuration
@inject IViewDataService viewDataService
@inject IClientSiteViewDataService clientViewDataService

@{
    ViewData["title"] = "CityWatch Security | Vehicle And Key Log";
    ViewData["PageName"] = CityWatch.Web.Helpers.PageNameHelper.VehicleAndKeyLog;
    var mapSettings = @Configuration.GetSection("GoogleMap").Get(typeof(GoogleMapSettings)) as GoogleMapSettings;
    var ApiKey = mapSettings.ApiKey;
    <input type="hidden" id="hid_duressEnabledGpsCoordinates">
    <input type="hidden" id="hid_duressEnabledAddress">
}
<input type="hidden" id="ClientSiteID" asp-for="@Model.KeyVehicleLog.ClientSiteLogBook.ClientSite.Id"/>
<input type="hidden" asp-for="@Model.KeyVehicleLog.ClientSiteLogBook.ClientSiteId" />
<input type="hidden" asp-for="@Model.KeyVehicleLog.GuardLogin.Id" />
<input type="hidden" asp-for="@Model.KeyVehicleLog.GuardLogin.GuardId" />
<input type="hidden" asp-for="@Model.KeyVehicleLog.ClientSiteLogBook.Date" asp-format="{0:yyyy-MM-dd HH:mm:ss}" />
<div id="loader" style="z-index: 99999"></div>
<div class="row">
    <div class="col-md-7">
        <i class="fa fa-calendar mr-2 text-secondary" aria-hidden="true"></i><b>Log Book Date: </b>@DateTime.Today.ToString("dd MMM yyyy (dddd)").ToUpper()
    </div>
    <div class="col-md-5" style="padding-left:69px;">
        <button type="button" class="btn btn-outline-primary" id="btnHRDetails"><i class="fa fa-user" aria-hidden="true"></i>HR</button>
        <a class="btn btn-outline-primary" id="btn_kvl_pdf_POIList" target="_blank">POI List</a>
        <a class="btn btn-outline-primary" id="btn_kvl_pdf_download" href="SiteLogPdf?id=@Model.KeyVehicleLog.ClientSiteLogBookId&t=vl" target="_blank">Download PDF</a>
        <a class="btn btn-primary" href="#" id="keyvehicle_offduty">Off Duty</a>
    </div>
</div>
<div class="row my-2">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <b>Site & Guard Details</b>
                <i class="fa fa-chevron-up text-black-50" aria-hidden="true" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"></i>
            </div>
            <div id="collapseOne" class="collapse multi-collapse show">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <ul class="list-unstyled">
                                <li class="d-flex flex-sm-row flex-column flex-sm-wrap">
                                    <span class="mr-1"><b>Client Site: </b>@Model.KeyVehicleLog.ClientSiteLogBook.ClientSite.Name | </span>
                                    <span><b>Client Type: </b>@Model.KeyVehicleLog.ClientSiteLogBook.ClientSite.ClientType.Name</span>
                                </li>
                                <li>
                                    <b>Address: </b>@(Model.KeyVehicleLog.ClientSiteLogBook.ClientSite.Address ?? "N/A")
                                </li>
                                <li>
                                    <b>Landline: </b>@(Model.KeyVehicleLog.ClientSiteLogBook.ClientSite.LandLine ?? "N/A")
                                </li>
                                <li class="d-flex flex-sm-row flex-column flex-sm-wrap">
                                    @{
                                        var clientSmartWands = Model.ViewDataService.GetClientSiteSmartWands(Model.KeyVehicleLog.ClientSiteLogBook.ClientSiteId);
                                    }
                                    @Html.Raw("<b class=\"mr-1\">Smart WANDs: </b>" + (clientSmartWands.Any() ? string.Join(" ", clientSmartWands.Select(z => $"<span class=\"mr-1\">{z.SmartWandId} : {z.PhoneNumber},</span>")) : "N/A"))
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 text-center">
                            @{
                                var isDuressActive = Convert.ToBoolean(ViewData["IsDuressEnabled"]);
                                var btnImage = isDuressActive ? "~/images/DuressButton.jpg" : "~/images/DuressButton_Inactive.jpg";
                                var duressStatus = isDuressActive ? "Active" : "Normal";
                            }
                            <button type="button" class="btn btn-duress btn-md @duressStatus.ToLower()" id="kv_duress_btn">DURESS</button>
                            <p class="mb-0 mt-2">
                                Status: <span id="kv_duress_status" class="@(isDuressActive ? "font-weight-bold" : "")">@duressStatus</span>
                            </p>
                        </div>
                    </div>                    
                    <hr />
                    <p class="mb-2">
                        <b>Guard Name: </b>@Model.KeyVehicleLog.GuardLogin.Guard.Name ; <b>Initials: </b>@Model.KeyVehicleLog.GuardLogin.Guard.Initial ; <b>Smart WAND: </b>@(Model.KeyVehicleLog.GuardLogin.SmartWand?.SmartWandId ?? "N/A") ;  <b>Position: </b>@(Model.KeyVehicleLog.GuardLogin.Position?.Name ?? "N/A")
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2 text-left">
    <label class="col-form-label" style="width: 100px">Filter Records</label>
    </div>
    <div class="col-md-1 text-left mr-5">
        <label class="col-form-label" style="width: 100px">Site POC</label>
    </div>
    <div class="col-md-1 text-left mr-4 ml-3">
        <label class="col-form-label" style="width: 100px">Site Location</label>
    </div>
    <div class="col-md-1 text-left ml-5">
        <label class="col-form-label" style="width: 100px">Search</label>
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-left">
        <button type="button" class="btn btn-primary " id="add_new_vehicle_and_key_log_one"><i class="fa fa-plus mr-2"></i>Add Entry</button>
    </div>
    <div class="col-md-7 text-left">
       
        <div class="d-flex flex-row">
            
            <div>
                <div class="dropdown kvl-rec-filter  mr-4">
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-circle text-primary mr-2"></i>Show All Entries
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" data-val="0"><i class="fa fa-circle text-primary mr-2"></i>Show All Entries</a>
                        <a class="dropdown-item" href="#" data-val="1"><i class="fa fa-circle text-success mr-2"></i>Open (On Site / Key Out)</a>
                        <a class="dropdown-item" href="#" data-val="3"><i class="fa fa-circle text-warning mr-2"></i>Pending (Bookings / Request)</a>
                        <a class="dropdown-item" href="#" data-val="2"><i class="fa fa-circle text-danger mr-2"></i>Closed (Exit Site / Key In)</a>
                    </div>
                    
                </div>
            </div>
           
            <select class="form-control mr-4" asp-for="@Model.KeyVehicleLog.ClientSitePocId" asp-items="@clientViewDataService.GetClientSitePocs(new int[] { Model.KeyVehicleLog.ClientSiteLogBook.ClientSiteId })">
            </select>
            
            <select class="form-control mr-2" asp-for="@Model.KeyVehicleLog.ClientSiteLocationId" asp-items="@clientViewDataService.GetClientSiteLocations(new int[] { Model.KeyVehicleLog.ClientSiteLogBook.ClientSiteId })">
            </select>
            <input type="hidden" value="0" id="kvl_status_filter" />
            <input type="hidden" asp-for="@Model.KeyVehicleLog.GuardLogin.GuardId" id="GuardLog_GuardLogin_GuardId" />
            @*<label class="col-form-label ml-5 mr-2">Search</label>*@
            <div class="ml-2">
                <input type="text" class="form-control" style="width: 140px" id="search_kvl_log" />
            </div>
        </div>
       
        
    </div>
  
    <div class="col-md-3 text-right">
        <input type="hidden" asp-for="@Model.KeyVehicleLog.ClientSiteLogBookId" />
        <label class="col-form-label mx-2">Total Events: <span id="total_events"></span></label>
        <button type="button" class="btn btn-primary ml-2" id="add_new_vehicle_and_key_log"><i class="fa fa-plus mr-2"></i>Add Entry</button>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-12">
        <table class="table table-bordered table-sm" width="100%" id="vehicle_key_daily_log">
            <thead>
                <tr>
                    <th style="display:none">ID</th>
                    <th></th>
                    <th colspan="5" style="background-color:#EAF0ED"><center>Clocks</center></th>
                    <th rowspan="2" style="background-color:#EAF0ED"><center>ID No / Vehicle Rego</center></th>
                    <th rowspan="2" style="background-color:#EAF0ED"><center>ID / Plate</center></th>
                    <th rowspan="2" style="background-color:#EAF0ED"><center>Company Name</center></th>
                    <th colspan="2" style="background-color:#EAF0ED"><center>Vehicle Description</center></th>
                    <th rowspan="2" style="background-color:#EAF0ED"><center>Key / Card Scan</center></th>
                    <th rowspan="2" hidden></th>
                    <th rowspan="2" hidden></th>
                   @*  for searching site location-start*@
                    <th rowspan="2" hidden></th>
                     @*for searching site location-end*@
                    @*  for searching site poc-start*@
                    <th rowspan="2" hidden></th>
                    @*for searching site poc-end*@
                    <th rowspan="2">
                        <center>
                            <div class="custom-control custom-switch custom-control-inline ml-2 mt-1" title="Toggle Print Docket">
                            
                                <input type="checkbox" class="custom-control-input" id="chkAllBatchDocketSelect" name="toggleDarkMode">
                                <label class="custom-control-label" for="chkAllBatchDocketSelect"></label>
                            </div>
                        </center>
                    </th>
                </tr>
                <tr>
                    <th style="display:none"></th>
                    <th></th>
                    <th>Initial Call</th>
                    <th>Entry Time</th>
                    <th>Sent In Time </th>
                    <th>Exit Time</th>
                    <th>Time Slot No</th>
                    <th>Truck Config</th>
                    <th>Trailer Type</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="vkl-modal">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12">
                
                <h5 class="modal-title col-md-5">Add a new log book entry</h5>
                <h5 style="color:red; text-align:right" class="col-md-6 ml-5" id="titlePOIWarning" hidden>POI Warning</h5>
                <i id="imagesiren" hidden><img  id="img1" src="~/images/ziren.png" height="25px;" /></i>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-0">
                <partial name="_KeyVehicleLogPopup" for="@Model.KeyVehicleLog" />
            </div>
            <div class="modal-footer justify-content-between">
                <button class="btn btn-success save_new_vehicle_and_key_log">Save Entry</button>
                <button class="btn btn-success save_new_vehicle_and_key_log">Save Entry</button>
            </div>
        </div>
    </div>
</div>

<partial name="_PrintManualDocketPopup" />

<!--    Vehicle Profiles Modal -->
<div class="modal" tabindex="-1" role="dialog" id="kvl-profiles-modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-gear mr-2" aria-hidden="true"></i>Visitor Profiles. ID No / Vehicle Rego : <span id="kvl-profile-title-rego"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mb-2 m-0">
                    <div class="col-md-12">
                        <small class="form-text text-primary mb-1">
                            <i class="fa fa-info-circle mr-1"></i>Click any row below to copy Company Name and Person Type. Then click Add Record.
                        </small>
                        <div class="form-inline">                            
                            <label>Create a new record with Person Name:</label>
                            <input class="form-control mx-2" type="text" id="driver_name" value="Unknown" />
                            <button class="btn btn-success" id="btn_duplicate_profile">Add Record</button>
                        </div>
                        <div class="validation-summary-errors my-1" asp-validation-summary="All" id="duplicate_profile_status"></div>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-md-12">
                        <table class="table table-bordered" width="100%" id="key_vehicle_log_profiles">
                            <thead>
                                <tr>
                                    <th rowspan="2" hidden></th>
                                    <th rowspan="2"><center>ID / Plate</center></th>
                                    <th rowspan="2"><center>Company Name</center></th>
                                    <th colspan="2"><center>Individual</center></th>
                                    @*<th rowspan="2" ><center>POI</center></th>*@
                                    @*<th rowspan="2"><center>POI</center></th>*@
                                    <th rowspan="2"></th>
                                </tr>
                                <tr>
                                    <th>Person Name</th>
                                    <th>Person Type</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="logbook-kvl-expiry-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="logbookKvlExpiryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-exclamation-circle text-warning mr-2"></i>Warning: Logbook Expired</h5>
            </div>
            <div class="modal-body">
                <p>A new day started and this logbook (KV) expired. Click Ok to create a new book for @DateTime.Today.AddDays(1).ToString("dd MMM yyyy")</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn_confirm_kvl_logbook_expiry">Ok</button>
            </div>
        </div>
    </div>
</div>
<partial name="_MessagePopup" />
@Html.AntiForgeryToken()
@section PageHeader {
    <h3 class="text-center">KEY, VEHICLE & VISITOR PORTAL</h3>
}
@*to check whether the uploaded image is of person or vehicle - start*@
<div class="modal" tabindex="-1" role="dialog" id="vkl-image-modal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12">

                <h5 class="modal-title col-md-8">Is this image the ID  of the Person or ID of the Vehicle ?</h5>
                @*<h5 style="color:red; text-align:right" class="col-md-6 ml-5" id="titlePOIWarning" hidden>POI Warning</h5>
                <i id="imagesiren" hidden><img  id="img1" src="~/images/ziren.png" height="25px;" /></i>*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-0">
                <div class="form-row">
                    <div class="col-md-2">
                        <input type="checkbox" id="chbIsPerson" />
                        <label for="chbIsPerson"> Person</label>
                        <input type="hidden" id="IsPerson" />
                    </div>
                    <div class="col-md-2">
                        <input type="checkbox" id="chbIsVehicle" />
                        <label for="chbIsVehicle"> Vehicle</label>
                        <input type="hidden" id="IsVehicle" />
                    </div>
                    <div class="col-md-2">
                        <input type="checkbox" id="chbIsNone" checked />
                        <label for="chbIsNone"> Other</label>
                        <input type="hidden" id="IsNone" />
                    </div>

                   @* temporarily commented*@
                       @* <div class="col-md-12">
                            <table class="table table-bordered table-sm" width="100%" id="gridIsPersonOrVehicle">
                                <thead>
                                    <tr>
                                        <th>SlNo</th>
                                        <th>file</th>
                                        <th hidden>Hidden</th>
                                        <th>Is Person Or Vehicle</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <input type="text" id="kvl_attachment_upload2"  hidden>*@
                  @*  temporarily commented*@
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        <span style="font-size:0.8rem;font:italic; color:red" class="col-md-12">
                            Note: Recommended Format Height: 130 px Width: 230 px
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button class="btn btn-success " id="btnIsPersonOrVehicle">Ok</button>
                
            </div>
        </div>
    </div>
</div>
@*to check whether the uploaded image is of person or vehicle - end*@

@*to check whether the copy and replace image is of person or vehicle - start*@
<div class="modal" tabindex="-1" role="dialog" id="vkl-copyorreplace-modal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header col-md-12">

                <h5 class="modal-title col-md-8">Attachment with same name already exists. Do you want to Replace it? </h5>
                <input type="hidden" id="txtPersonOrVehicle" />
                @*<h5 style="color:red; text-align:right" class="col-md-6 ml-5" id="titlePOIWarning" hidden>POI Warning</h5>
                <i id="imagesiren" hidden><img  id="img1" src="~/images/ziren.png" height="25px;" /></i>*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-0">
                <div class="form-row">
                    <div class="col-md-8">
                        <button class="btn btn-link" id="btnReplace"><i class="fa fa-copy"></i> Replace the files in the Destination</button>
                    </div>
                   

                   
                </div>
                <div class="form-row">
                    <div class="col-md-8">
                        <button class="btn btn-link" id="btnSkip"><i class="fa fa-history"></i> Skip these files</button>
                    </div>



                </div>
                <div class="form-row">
                    <div class="col-md-8">
                        <button class="btn btn-link" id="btnLetmeDecide"><i class="fa fa-plus"></i> Keep both the files</button>
                    </div>



                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="modal fade" id="addGuardModalnew" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="addGuardModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add/Edit Guard</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row m-0">
                    <div class="col-md-12">
                        @*<form id="frm_add_guard">*@
                        <input type="hidden" id="Guard_Id" name="Guard.Id" />
                        @*    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Guard Name</label>
                        <div class="col-md-3">
                        <input type="text" class="form-control" id="Guard_Name1" name="Guard.Name">
                        </div>
                        <label class="col-md-1 col-form-label text-left">Intial</label>
                        <div class="col-md-2">
                        <input type="text" class="form-control" id="Guard_Initial1" name="Guard.Initial">
                        </div>
                        <label class="col-md-1 col-form-label">Mobile</label>
                        <div class="col-md-3">
                        <input type="text" class="form-control" id="Guard_Mobile1" name="Guard.Mobile" value="+61 4">
                        </div>

                        </div>
                        <div class="form-group row">
                        <label class="col-md-2 col-form-label">License No (Primary)</label>
                        <div class="col-md-3">
                        <input type="text" class="form-control" id="Guard_SecurityNo1" name="Guard.SecurityNo">
                        </div>
                        <label class="col-md-1 col-form-label">State</label>
                        <div class="col-md-2">
                        <select id="Guard_State1" name="Guard.State" asp-items="@Model.ViewDataService.LicenseStates" class="form-control"></select>
                        </div>
                        <label class="col-md-1 col-form-label">Email</label>
                        <div class="col-md-3">
                        <input type="text" class="form-control" id="Guard_Email1" name="Guard.Email">
                        </div>
                        </div>
                        <div class="form-group row">

                        <label class="col-md-2 form-check-label">Access</label>
                        <div class="col-md-3">
                        <select class="form-control" multiple="multiple" id="Guard_Access1" name="Guard.GuardAccess">
                        @foreach (var AccessType in viewDataService.GetAccessTypes(true))
                        {

                        <option value="@AccessType.Value">@AccessType.Text</option>
                        }
                        </select>

                        </div>
                        <label class="col-md-1 form-check-label">Is Active</label>
                        <div class="col-md-2">
                        <input type="checkbox" class="form-check" id="cbIsActive1">
                        <input type="hidden" id="Guard_IsActive1" name="Guard.IsActive">
                        </div>
                        <label class="col-md-1 col-form-label">Provider</label>
                        <div class="col-md-3">
                        <input type="text" class="form-control" id="Guard_Provider1" name="Guard.Provider">
                        </div>
                        </div>


                        @*    <div class="form-group row">
                        <label class="col-md-2 form-check-label">Is Active</label>
                        <div class="col-md-3">
                        <input type="checkbox" class="form-check" id="cbIsActive">
                        <input type="hidden" id="Guard_IsActive" name="Guard.IsActive">
                        </div>
                        </div> *@
                        @*     <div class="form-row">
                        <div class="col-md-12">
                        <div class="alert alert-success" role="alert" style="display:none" id="guard_saved_status1">
                        <i class="fa fa-check-circle-o mr-2"></i>Guard saved successfully
                        </div>
                        <div asp-validation-summary="All" id="glValidationSummary1"></div>
                        </div>
                        </div>
                        </form>
                        </div>
                        </div>
                        <hr />*@
                        <div class="row m-0">
                            <div class="col-md-12">
                                <ul class="nav nav-tabs" id="guardComplianceTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="licenses-tab" data-toggle="tab" href="#guardLicenses" role="tab" aria-controls="guardLicenses" aria-selected="true">Licenses</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="compliances-tab" data-toggle="tab" href="#guardCompliances" role="tab" aria-controls="guardCompliances" aria-selected="false">Compliances</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="guardDataTabContent">
                                    <div class="tab-pane fade show active py-3" id="guardLicenses" role="tabpanel" aria-labelledby="licenses_tab">
                                        <div class="form-row mb-2 btn-add-guard-addl-details">
                                            <div class="col-md-2 offset-md-10 text-right">
                                                <button class="btn btn-success" id="btnAddGuardLicenseLogDaily"><i class="fa fa-plus mr-2"></i>Add License</button>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <table id="tbl_guard_licenses1" class="table table-bordered table-sm" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>License No</th>
                                                            <th>Type</th>
                                                            <th>Expiry Date</th>
                                                            <th>Reminder 1</th>
                                                            <th>Reminder 2</th>
                                                            <th>File</th>
                                                            <th class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i></th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade py-3" id="guardCompliances" role="tabpanel" aria-labelledby="compliances-tab">
                                        <div class="form-row mb-2 btn-add-guard-addl-details">
                                            <div class="col-md-2 offset-md-10 text-right">
                                                <button class="btn btn-success" id="btnAddGuardCompliance1"><i class="fa fa-plus mr-2"></i>Add Compliance</button>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <table id="tbl_guard_compliances1" class="table table-bordered table-sm" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Reference No</th>
                                                            <th>HR Group</th>
                                                            <th>Description</th>
                                                            <th>Expiry Date</th>
                                                            <th>Reminder 1</th>
                                                            <th>Reminder 2</th>
                                                            <th>File</th>
                                                            <th class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i></th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    @*<div class="modal-footer justify-content-start">
                    <button type="button" class="btn btn-primary" id="btn_save_guard">Save Guard</button>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addGuardLicenseLogDailyModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="addLicenceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add/Edit License</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frm_add_license">
                    <input type="hidden" id="GuardLicense_Id1" name="GuardLicense.Id" />
                    <input type="hidden" id="GuardLicense_GuardId1" name="GuardLicense.GuardId" />
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="form-label">License No</label>
                            <input type="text" class="form-control" id="GuardLicense_LicenseNo1" name="GuardLicense.LicenseNo">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-label">License Type</label>
                            <select class="form-control" id="GuardLicense_LicenseType1" name="GuardLicense.LicenseType" asp-items="@Html.GetEnumSelectList<GuardLicenseType>().OrderBy(z => z.Text)">
                                <option value="">Select</option>
                            </select>
                            <input type="hidden" id="GuardLicense_License1" name="GuardLicense.LicenseType" />
                            <input type="hidden" id="LicenseTypeOther1" name="GuardLicense.LicenseTypeName" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="form-label">Expiry Date</label>
                            <input type="date" class="form-control" id="GuardLicense_ExpiryDate1" name="GuardLicense.ExpiryDate" min="@DateTime.Today.ToString("yyyy-MM-dd")">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="form-label">Reminder 1</label>
                            <input type="number" class="form-control" id="GuardLicense_Reminder11" name="GuardLicense.Reminder1" min="1" max="365">

                        </div>
                        <div class="form-group col-md-3">
                            <label class="form-label">Reminder 2</label>
                            <input type="number" class="form-control" id="GuardLicense_Reminder21" name="GuardLicense.Reminder2" min="1" max="365">
                        </div>
                    </div>
                    <hr />
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label class="form-label">License Document: <span id="guardLicense_fileName1">None</span></label>
                            <p class="mt-2">
                                <input type="hidden" id="GuardLicense_FileName1" name="GuardLicense.FileName" />
                                <label class="btn btn-sm btn-outline-primary mb-0">
                                    <i class="fa fa-upload mr-2"></i>Upload
                                    <input type="file" id="upload_license_file1" accept=".jpg, .jpeg, .png, .bmp, .pdf" hidden>
                                </label>
                                <button type="button" class="btn btn-sm btn-outline-danger" id="delete_license_file1"><i class="fa fa-trash mr-2"></i>Delete</button>
                                <small class="form-text text-muted">
                                    Upload a file with extension .jpg, .jpeg, .png, .bmp, .pdf
                                </small>
                            </p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div asp-validation-summary="All" id="licenseValidationSummary1"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-start">
                <button type="button" class="btn btn-primary" id="btn_save_guard_license1">Save License</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addGuardCompliancesLogDailyModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="addComplianceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add/Edit Compliance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frm_add_compliance">
                    <input type="hidden" id="GuardCompliance_Id1" name="GuardCompliance.Id" />
                    <input type="hidden" id="GuardCompliance_GuardId1" name="GuardCompliance.GuardId" />
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="form-label">Reference No</label>
                            <input type="text" class="form-control" id="GuardCompliance_ReferenceNo1" name="GuardCompliance.ReferenceNo">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-label">Description</label>
                            <input type="text" class="form-control" id="GuardCompliance_Description1" name="GuardCompliance.Description">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="form-label">Expiry Date</label>
                            <input type="date" class="form-control" id="GuardCompliance_ExpiryDate1" name="GuardCompliance.ExpiryDate" min="@DateTime.Today.ToString("yyyy-MM-dd")">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="form-label">Reminder 1</label>
                            <input type="number" class="form-control" id="GuardCompliance_Reminder11" name="GuardCompliance.Reminder1" min="1" max="365">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="form-label">Reminder 2</label>
                            <input type="number" class="form-control" id="GuardCompliance_Reminder21" name="GuardCompliance.Reminder2" min="1" max="365">
                        </div>
                        <div class="form-group col-md-3">
                            <label class="form-label">HR Group</label>
                            <select class="form-control" id="GuardCompliance_HrGroup1" name="GuardCompliance.HrGroup" asp-items="@Html.GetEnumSelectList<HrGroup>()">
                                <option selected="selected" value="">Select</option>
                            </select>
                        </div>
                    </div>
                    <hr />
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label class="form-label">Compliance Document: <span id="guardCompliance_fileName1">None</span></label>
                            <p class="mt-2">
                                <input type="hidden" id="GuardCompliance_FileName1" name="GuardCompliance.FileName" />
                                <label class="btn btn-sm btn-outline-primary mb-0">
                                    <i class="fa fa-upload mr-2"></i>Upload
                                    <input type="file" id="upload_compliance_file1" accept=".jpg, .jpeg, .png, .bmp, .pdf" hidden>
                                </label>
                                <button type="button" class="btn btn-outline-danger btn-sm" id="delete_compliance_file1"><i class="fa fa-trash mr-2"></i>Delete</button>
                                <small class="form-text text-muted">
                                    Upload a file with extension .jpg, .jpeg, .png, .bmp, .pdf
                                </small>
                            </p>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <div asp-validation-summary="All" id="complianceValidationSummary1"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-start">
                <button type="button" class="btn btn-primary" id="btn_save_guard_compliance1">Save Compliance</button>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=@ApiKey&callback=initialize&libraries=places"></script>

}
@*to check whether the uploaded image is of person or vehicle - end*@
