@using CityWatch.Kpi.Services
@model CityWatch.Data.Models.ClientSiteKpiSetting
@inject IViewDataService ViewDataService;
@{
    var rowTitle = new string[6] { "", "Daily Employee Hours", "Patrol Frequency", "No Of Patrols", "Image Target", "Wand Scans Target" };
    var rowTitleManningGuard = new string[4] { "", "Start", "End", "Workers" };
    var rowTitleManningPatrolCar = new string[4] { "", "Start", "End", "No of Patrols" };
    var count = 0;
    if (Model.ClientSiteManningGuardKpiSettings.Count != 0)
        count++;
    if (Model.ClientSiteManningPatrolCarKpiSettings.Count != 0)
        count++;
    var check = count;
}
<div class="test">
    <ul class="nav nav-tabs" id="kpiSettingsTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="kpi-settings-tab" data-toggle="tab" href="#siteKpiSettings" role="tab" aria-controls="siteKpiSettings" aria-selected="true">Site Settings</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="contracted-manning-tab" data-toggle="tab" href="#contractedmanningSettings" role="tab" aria-controls="contractedmanningSettings">Contracted Manning</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="RcActionList-tab" data-toggle="tab" href="#RcActionListSettings" role="tab" aria-controls="RcActionListSettings">Rc Action List</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="notes-tab" data-toggle="tab" href="#notes" role="tab" aria-controls="notes">Notes</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="siteKpiSettings" role="tabpanel" aria-labelledby="kpi-settings-tab">
            <div class="container pt-3">
                <form id="frm_site_settings">
                    <input type="hidden" asp-for="@Model.Id" />
                    <input type="hidden" asp-for="@Model.ClientSiteId" />
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-row my-2 pb-3">
                                <div class="col-md-4">
                                    <div class="form-check">
                                        <input asp-for="@Model.IsThermalCameraSite" class="form-check-input">
                                        <label class="form-check-label font-weight-bold" asp-for="@Model.IsThermalCameraSite">Thermal Camera Site</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-check pl-0">
                                        <input asp-for="@Model.IsWeekendOnlySite class=" form-check-input">
                                        <label class="form-check-label font-weight-bold" asp-for="@Model.IsWeekendOnlySite">Weekend Only Site</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label class="form-label" asp-for="@Model.DropboxImagesDir"></label>
                                    <input class="form-control" asp-for="@Model.DropboxImagesDir">
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="form-label" asp-for="@Model.KoiosClientSiteId"></label>
                                    <input class="form-control w-80px" asp-for="@Model.KoiosClientSiteId">
                                </div>
                                <div class="form-group col-md-2">
                                    <label class="form-label" asp-for="@Model.KoiosClientSiteIdB"></label>
                                    <input class="form-control w-80px" asp-for="@Model.KoiosClientSiteIdB">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label class="form-label" asp-for="@Model.PhotoPointsPerPatrol"></label>
                                    <input class="form-control w-80px daily-img-target" asp-for="@Model.PhotoPointsPerPatrol">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label" asp-for="@Model.WandPointsPerPatrol"></label>
                                    <input class="form-control w-80px daily-wand-target" asp-for="@Model.WandPointsPerPatrol">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label" asp-for="@Model.TuneDowngradeBuffer"></label>
                                    <input type="number" min="1" class="form-control w-80px daily-img-target" asp-for="@Model.TuneDowngradeBuffer">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <h6 class="font-weight-bold">Site Image (200x112)</h6>
                                @{
                                    var siteImage = !string.IsNullOrEmpty(Model.SiteImage) ? Model.SiteImage : "//via.placeholder.com/200x112.png?text=No Image";
                                }
                                <img src="@siteImage" width="200" height="112" id="img_site_image" class="img-fluid" />
                                <input type="hidden" asp-for="@Model.SiteImage" value="@Model.SiteImage" />
                            </div>
                            <div class="mt-2">
                                <label class="btn btn-sm btn-outline-primary">
                                    <i class="fa fa-upload mr-2"></i>Replace Image
                                    <input type="file" id="upload_site_image" accept=".jpg" hidden>
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            @for (int rowIndex = 0; rowIndex < 6; rowIndex++)
                            {
                                <div class="form-row">
                                    <div class="col-md-2">
                                        <label class="form-label">@rowTitle[rowIndex]</label>
                                    </div>
                                    @for (var colIndex = 0; colIndex < 7; colIndex++)
                                    {
                                        <div class="col-md-1 mx-1">
                                            @switch (rowIndex)
                                            {
                                                case 0:
                                                    <label class="form-label">@Model.ClientSiteDayKpiSettings[colIndex].WeekDay.ToString().Substring(0, 3)</label>
                                                    break;
                                                case 1:
                                                    <input class="form-control mb-2" asp-for="@Model.ClientSiteDayKpiSettings[colIndex].EmpHours">
                                                    break;
                                                case 2:
                                                    <div class="custom-control custom-switch patrol-frequency-switch mb-3">
                                                        <input type="checkbox" class="custom-control-input patrol-frequency" data-index="@colIndex"
                                                               id="@($"Chk_ClientSiteDayKpiSettings_{colIndex}_PatrolFrequency")" @(Convert.ToBoolean(Model.ClientSiteDayKpiSettings[colIndex].PatrolFrequency) ? "checked=checked" : "")>
                                                        <label class="custom-control-label" for="@($"Chk_ClientSiteDayKpiSettings_{colIndex}_PatrolFrequency")">
                                                            @(Convert.ToBoolean(Model.ClientSiteDayKpiSettings[colIndex].PatrolFrequency) ? "per day" : "per hr")
                                                        </label>
                                                        <input type="hidden" asp-for="@Model.ClientSiteDayKpiSettings[colIndex].PatrolFrequency" />
                                                    </div>
                                                    break;
                                                case 3:
                                                    <input class="form-control mb-2 patrols-count" asp-for="@Model.ClientSiteDayKpiSettings[colIndex].NoOfPatrols" data-index="@colIndex">
                                                    break;
                                                case 4:
                                                    <input class="form-control mb-2" asp-for="@Model.ClientSiteDayKpiSettings[colIndex].ImagesTarget" readonly>
                                                    break;
                                                case 5:
                                                    <input class="form-control mb-2" asp-for="@Model.ClientSiteDayKpiSettings[colIndex].WandScansTarget" readonly>
                                                    break;
                                            }
                                            <input type="hidden" asp-for="@Model.ClientSiteDayKpiSettings[colIndex].WeekDay" />
                                            <input type="hidden" asp-for="@Model.ClientSiteDayKpiSettings[colIndex].Id" />
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-row my-2">
                                <div class="col-md-6">
                                    <h6 class="font-weight-bold d-inline">Site Statistics</h6>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label class="form-label" asp-for="@Model.ExpPatrolDuration"></label>
                                    <input class="form-control w-80px daily-wand-target" asp-for="@Model.ExpPatrolDuration">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label" asp-for="@Model.MinPatrolFreq"></label>
                                    <input class="form-control w-80px daily-wand-target" asp-for="@Model.MinPatrolFreq">
                                </div>
                                <div class="form-group col-md-4">
                                    <label class="form-label" asp-for="@Model.MinImagesPerPatrol"></label>
                                    <input class="form-control w-80px daily-wand-target" asp-for="@Model.MinImagesPerPatrol">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success" id="save_site_settings"><i class="fa fa-save mr-2"></i>Save Settings</button>
                </form>
            </div>
        </div>

        @*New Tab for contracted-manning start*@
        <div class="tab-pane" id="contractedmanningSettings" role="tabpanel" aria-labelledby="contracted-manning-tab">
            <div class="container pt-3">
                @if (Model.ClientSiteManningGuardKpiSettings.Where(x => x.DefaultValue == false).Count() != 0 && (Model.ClientSiteManningPatrolCarKpiSettings.Where(x => x.DefaultValue == false).Count() != 0))
                {
                    <div class="text-right"><button id="showDivButton" class="btn btn-success" disabled><i class="fa fa-plus" aria-hidden="true"></i> Add Worker</button></div>


                }
                else
                {
                    <div class="text-right"><button id="showDivButton" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Add Worker</button></div>

                }




                <form id="frm_site_manning_settings">
                    <input type="hidden" asp-for="@Model.Id" />
                    <input type="hidden" asp-for="@Model.ClientSiteId" />
                    <input type="hidden" id="hidCount" value="@count" />
                    @*display Already Existing Mannings*@

                    @*Check if default value or orginal data exist*@
                    @if (Model.ClientSiteManningGuardKpiSettings.Where(x => x.DefaultValue == true).Count() == 0)
                    {
                        @*Get All Distinct order Id *@
                        var distinctOrderIds = Model.ClientSiteManningGuardKpiSettings.Select(order => order.OrderId).Distinct();
                        @for (int rowIndexFirst = 0; rowIndexFirst < Model.ClientSiteManningGuardKpiSettings.Count(); rowIndexFirst = rowIndexFirst + 8)
                        {

                            var rowIndextemp = 0;


                            <hr />
                            <div class="row">
                                <div class="col-md-12">



                                    @for (int rowIndex = rowIndexFirst; rowIndex < (4 + rowIndexFirst); rowIndex++)
                                    {
                                        /*Monthly Hours Start*/
                                        var monthilyHours = 0.0;
                                        @if (@Model.ClientSiteManningGuardKpiSettings[rowIndex].Type == ((int)OfficerPositionFilterManning.NonPatrolOnly).ToString())
                                        {

                                            var totalMin = @Model.ClientSiteManningGuardKpiSettings.Where(x => x.OrderId == @Model.ClientSiteManningGuardKpiSettings[rowIndex].OrderId).Select(x => x.SumOfHours).Sum();
                                            var guardQty = @Model.ClientSiteManningGuardKpiSettings.Where(x => x.OrderId == @Model.ClientSiteManningGuardKpiSettings[rowIndex].OrderId).Select(x => x.NoOfPatrols ?? 0).FirstOrDefault();
                                            if (totalMin != null && guardQty != null)
                                                monthilyHours = Math.Round(((totalMin) * guardQty * 52.143) / 12);

                                        }
                                        else
                                        {
                                            var guardQty = @Model.ClientSiteManningGuardKpiSettings.Where(x => x.OrderId == @Model.ClientSiteManningGuardKpiSettings[rowIndex].OrderId).Select(x => x.NoOfPatrols ?? 0).Sum();
                                            monthilyHours = guardQty;
                                        }

                                        /*Monthly Hours End*/
                                        <div class="form-row">
                                            <div class="col-md-3">
                                                @if (rowIndextemp == 0)
                                                {

                                                    <div class="d-flex flex-row justify-content-between">
                                                        <label class="form-label">Position</label>
                                                        <div class="custom-control custom-switch custom-control-inline" title="Switch between Patrol Car and Guards">
                                                            @if (@Model.ClientSiteManningGuardKpiSettings[rowIndex].Type == ((int)OfficerPositionFilterManning.NonPatrolOnly).ToString())
                                                            {
                                                                <input type="checkbox" class="custom-control-input" id="positionfilterGuard_@rowIndexFirst" disabled name="positionfilterGuard">
                                                            }
                                                            else
                                                            {
                                                                <input type="checkbox" class="custom-control-input" id="positionfilterGuard_@rowIndexFirst" disabled checked name="positionfilterGuard">

                                                            }
                                                            <label class="custom-control-label" for="positionfilterGuard">Patrol Car</label>
                                                        </div>
                                                    </div>

                                                }
                                                @if (rowIndextemp == 1)
                                                {
                                                    <div class="form-group p-0">

                                                        @if (@Model.ClientSiteManningGuardKpiSettings[rowIndex].Type == ((int)OfficerPositionFilterManning.NonPatrolOnly).ToString())
                                                        {
                                                            <select asp-for="@Model.ClientSiteManningGuardKpiSettings[rowIndex].PositionId" asp-items="@ViewDataService.GetOfficerPositions(OfficerPositionFilterManning.NonPatrolOnly)" class="form-control"></select>

                                                        }
                                                        else
                                                        {
                                                            <select asp-for="@Model.ClientSiteManningGuardKpiSettings[rowIndex].PositionId" asp-items="@ViewDataService.GetOfficerPositions(OfficerPositionFilterManning.PatrolOnly)" class="form-control"></select>
                                                        }
                                                    </div>
                                                }
                                                @*New Code for Monthly Hours Start*@

                                                @if (rowIndextemp == 3)
                                                {

                                                    <div class="d-flex flex-row justify-content-between">
                                                        @if (@Model.ClientSiteManningGuardKpiSettings[rowIndex].Type == ((int)OfficerPositionFilterManning.NonPatrolOnly).ToString())
                                                        {
                                                            <label class="form-label" id="lbl_MonthlyHrs">Monthly Hrs :</label>

                                                        }
                                                        else
                                                        {
                                                            <label class="form-label" id="lbl_MonthlyHrs">Total Patrols :</label>
                                                        }
                                                        <div class="custom-control custom-switch custom-control-inline" title="Switch between Patrol Car and Guards">
                                                            <input type="text" class="form-control mb-2 patrols-count" asp-for="@monthilyHours" id="monthlyHrs_@rowIndexFirst" name="monthlyHrs" style="width:120px" readonly />
                                                        </div>
                                                    </div>

                                                }
                                                @*New Code for Monthly Hours end*@
                                            </div>
                                            <div class="col-md-1 p-0">
                                                @if (@Model.ClientSiteManningGuardKpiSettings[rowIndex].Type == ((int)OfficerPositionFilterManning.NonPatrolOnly).ToString())
                                                {
                                                    <label class="form-label">@rowTitleManningGuard[rowIndextemp]</label>

                                                }
                                                else
                                                {
                                                    <label class="form-label">@rowTitleManningPatrolCar[rowIndextemp]</label>

                                                }
                                            </div>
                                            @for (var colIndex = rowIndexFirst; colIndex < (8 + rowIndexFirst); colIndex++)
                                            {


                                                @if (@Model.ClientSiteManningGuardKpiSettings[colIndex] != null)
                                                {
                                                    var headerLabel = string.Empty;
                                                    @if (@Model.ClientSiteManningGuardKpiSettings[colIndex].IsPHO == 1)
                                                    {
                                                        headerLabel = "PHO";
                                                    }
                                                    else
                                                    {
                                                        headerLabel = @Model.ClientSiteManningGuardKpiSettings[colIndex].WeekDay.ToString().Substring(0, 3);
                                                    }

                                                    <div class="col-md-1" id="divGuardInner_+@rowIndex+_+@colIndex">

                                                        @switch (rowIndextemp)
                                                        {
                                                            case 0:

                                                                //<label class="form-label">@Model.ClientSiteManningGuardKpiSettings[colIndex].WeekDay.ToString().Substring(0, 3)</label>
                                                                <label class="form-label">@headerLabel</label>
                                                                break;
                                                            case 1:

                                                                <input placeholder="--:--" onkeypress="return (event.charCode !=8 && event.charCode ==0 || ( event.charCode == 58 || (event.charCode >= 48 && event.charCode <= 57)))" class="form-control mb-2" asp-for="@Model.ClientSiteManningGuardKpiSettings[colIndex].EmpHoursStart">
                                                                break;

                                                            case 2:

                                                                <input placeholder="--:--" onkeypress="return (event.charCode !=8 && event.charCode ==0 || ( event.charCode == 58 || (event.charCode >= 48 && event.charCode <= 57)))" class="form-control mb-2" asp-for="@Model.ClientSiteManningGuardKpiSettings[colIndex].EmpHoursEnd">
                                                                break;
                                                            case 3:
                                                                <input class="form-control mb-2 patrols-count" min="0" asp-for="@Model.ClientSiteManningGuardKpiSettings[colIndex].NoOfPatrols" data-index="@colIndex">
                                                                break;

                                                        }
                                                        <input type="hidden" asp-for="@Model.ClientSiteManningGuardKpiSettings[colIndex].WeekDay" />
                                                        <input type="hidden" asp-for="@Model.ClientSiteManningGuardKpiSettings[colIndex].Id" />
                                                        <input type="hidden" asp-for="@Model.ClientSiteManningGuardKpiSettings[colIndex].OrderId" />
                                                        <input type="hidden" asp-for="@Model.ClientSiteManningGuardKpiSettings[colIndex].Type" />
                                                        <input type="hidden" asp-for="@Model.ClientSiteManningGuardKpiSettings[colIndex].SettingsId" />
                                                        <input type="hidden" asp-for="@Model.ClientSiteManningGuardKpiSettings[colIndex].IsPHO" />

                                                    </div>

                                                }


                                            }



                                        </div>
                                        rowIndextemp++;
                                    }
                                </div>
                            </div>

                        }


                    }
                    @*Add New Mannings*@
                    @if (Model.ClientSiteManningPatrolCarKpiSettings.Where(x => x.DefaultValue == true).Count() != 0)
                    {

                        <div id="divPatrolCar" style="display: none;">
                            <hr />
                            <div class="row">
                                <div class="col-md-12">
                                    @for (int rowIndex2 = 0; rowIndex2 < 4; rowIndex2++)
                                    {
                                        <div class="form-row">
                                            <div class="col-md-3">
                                                @if (rowIndex2 == 0)
                                                {

                                                    <div class="d-flex flex-row justify-content-between">
                                                        <label class="form-label">Position</label>
                                                        <div class="custom-control custom-switch custom-control-inline" title="Switch between Patrol Car and Guards">
                                                            <input type="checkbox" class="custom-control-input" id="positionfilterPatrolCar" name="positionfilterPatrolCar">
                                                            <label class="custom-control-label" for="positionfilterPatrolCar">Patrol Car</label>
                                                        </div>
                                                    </div>

                                                }
                                                @if (rowIndex2 == 1)
                                                {
                                                    <div class="form-group p-0">
                                                        <select asp-for="@Model.ClientSiteManningPatrolCarKpiSettings[rowIndex2].PositionId" asp-items="@ViewDataService.GetOfficerPositions(OfficerPositionFilterManning.NonPatrolOnly)" class="form-control"></select>
                                                    </div>
                                                }
                                                @*New Code for Monthly Hours Start*@

                                                @if (rowIndex2 == 3)
                                                {

                                                    <div class="d-flex flex-row justify-content-between">
                                                        <label class="form-label" id="monthlyHrsTxtAddNew">Monthly Hrs :</label>
                                                        <div class="custom-control custom-switch custom-control-inline" title="Switch between Patrol Car and Guards">
                                                            <input type="text" class="form-control mb-2 patrols-count" id="monthlyHrsAddNew" name="monthlyHrsAddNew" style="width:120px" readonly />
                                                        </div>
                                                    </div>

                                                }
                                                @*New Code for Monthly Hours end*@


                                            </div>
                                            <div class="col-md-1 p-0">
                                                <label class="form-label" id="lbl_ManningPatrolCar_@rowIndex2">@rowTitleManningGuard[rowIndex2]</label>
                                            </div>

                                            @for (var colIndex2 = 0; colIndex2 < 8; colIndex2++)
                                            {
                                                var headerLabel2 = string.Empty;
                                                @if (@Model.ClientSiteManningPatrolCarKpiSettings[colIndex2].IsPHO == 1)
                                                {
                                                    headerLabel2 = "PHO";
                                                }
                                                else
                                                {
                                                    headerLabel2 = @Model.ClientSiteManningPatrolCarKpiSettings[colIndex2].WeekDay.ToString().Substring(0, 3);
                                                }
                                                <div class="col-md-1">
                                                    @switch (rowIndex2)
                                                    {
                                                        case 0:
                                                            <label class="form-label">@headerLabel2</label>
                                                            break;
                                                        case 1:
                                                            <input placeholder="--:--" onkeypress="return (event.charCode !=8 && event.charCode ==0 || ( event.charCode == 58 || (event.charCode >= 48 && event.charCode <= 57)))" class="form-control mb-2 decimal-input" asp-for="@Model.ClientSiteManningPatrolCarKpiSettings[colIndex2].EmpHoursStart">
                                                            break;
                                                        case 2:
                                                            <input placeholder="--:--" onkeypress="return (event.charCode !=8 && event.charCode ==0 || ( event.charCode == 58 || (event.charCode >= 48 && event.charCode <= 57)))" class="form-control mb-2 decimal-input" asp-for="@Model.ClientSiteManningPatrolCarKpiSettings[colIndex2].EmpHoursEnd">
                                                            break;
                                                        case 3:
                                                            <input class="form-control mb-2 patrols-count" min="0" asp-for="@Model.ClientSiteManningPatrolCarKpiSettings[colIndex2].NoOfPatrols" data-index="@colIndex2">
                                                            break;

                                                    }
                                                    <input asp-for="@Model.ClientSiteManningPatrolCarKpiSettings[colIndex2].Type" value="2" style="display: none;">
                                                    <input type="hidden" asp-for="@Model.ClientSiteManningPatrolCarKpiSettings[colIndex2].WeekDay" />
                                                    <input type="hidden" asp-for="@Model.ClientSiteManningPatrolCarKpiSettings[colIndex2].Id" />
                                                    <input type="hidden" asp-for="@Model.ClientSiteManningPatrolCarKpiSettings[colIndex2].OrderId" />
                                                    <input type="hidden" asp-for="@Model.ClientSiteManningPatrolCarKpiSettings[colIndex2].SettingsId" />
                                                    <input type="hidden" asp-for="@Model.ClientSiteManningPatrolCarKpiSettings[colIndex2].IsPHO" />
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>




                    }



                    @*Old Code*@

                    @if (Model.ClientSiteManningGuardKpiSettings.Where(x => x.DefaultValue == true).Count() == 0)
                    {
                        <button type="button" class="btn btn-success" id="save_site_manning_settings"><i class="fa fa-save mr-2"></i>Save Settings</button>

                    }
                    else
                    {
                        <div id="divbtn" style="display: none;">
                            <button type="button" class="btn btn-success" id="save_site_manning_settings"><i class="fa fa-save mr-2"></i>Save Settings</button>
                        </div>
                    }

                </form>

            </div>
        </div>
        @*New Tab for contracted-manning end*@
        @*New Tab for Rc List start*@
        <div class="tab-pane" id="RcActionListSettings" role="tabpanel" aria-labelledby="contracted-manning-tab">
            <form id="frm_ActionList">
                @{
                    var RCList = Model.RCActionList.FirstOrDefault();
                }
                <br />
                <table class="table table-bordered tbl-settings" id="tbl_summaryImage">
                    <thead>
                        <tr>

                            <th style="width:370px">File Name</th>
                            <th style="width:370px">Date & Time Uploaded</th>
                            <th class="text-center"><i class="fa fa-cogs" aria-hidden="true"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @{
                                if (RCList.Imagepath != null || RCList.Imagepath != "")
                                {
                                    <td class="align-middle" id="summary_imageRC">@RCList.Imagepath</td>
                                }
                                else
                                {
                                    <td class="align-middle" id="summary_imageRC"></td>
                                }

                                if (RCList.DateandTimeUpdated != null || RCList.DateandTimeUpdated != "")
                                {
                                    <td class="align-middle" id="summary_image_updatedRC">@RCList.DateandTimeUpdated</td>
                                }
                                else
                                {
                                    <td class="align-middle" id="summary_image_updatedRC"></td>
                                }
                            }
                            <td class="text-center">
                                <label class="btn btn-success mb-0">
                                   
                                        <i class="fa fa-upload mr-2"></i>Replace
                                        <input type="file" id="upload_summary_imageRcList" accept=".jpg" hidden>
                               
                                </label>
                                @{
                                    if (RCList.Imagepath != null || RCList.Imagepath != "")
                                    {
                                        <a href="/RCImage/@RCList.Imagepath" target="_blank" class="btn btn-outline-primary" id="download_summary_imageRCList"><i class="fa fa-download mr-2"></i>Download</a>
                                    }
                                    else
                                    {
                                        <a href="#" target="_blank" class="btn btn-outline-primary" id="download_summary_imageRCList"><i class="fa fa-download mr-2"></i>Download</a>
                                    }
                                }
                               
                                <button class="btn btn-outline-primary btn-outline-danger" type="button" id="delete_summary_imageRC"><i class="fa fa-trash mr-2"></i>Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
          
                
            <div class="row col-md-12">
            <div class="row col-md-7">
                        <input type="hidden" id="RCImagepath" name="RCActionList.Imagepath">
                        <input type="hidden" id="RCImageDateandTime" name="RCActionList.DateandTimeUpdated">
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label">Site Alarm Keypad code</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" id="Site_Alarm_Keypad_code" name="RCActionList.SiteAlarmKeypadCode" value="@RCList.SiteAlarmKeypadCode">
                            </div>
                            <label class="col-md-2 col-form-label text-left">Action 1</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="Action1" name="RCActionList.Action1" value="@RCList.Action1">
                            </div>


                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label">site Physical key</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" id="site_Physical_key" name="RCActionList.Sitephysicalkey" value="@RCList.Sitephysicalkey">
                            </div>
                            <label class="col-md-2 col-form-label">Action 2</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="Action1" name="RCActionList.Action2">
                            </div>

                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label">Site Combination Look</label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" id="Site_Combination_Look" name="RCActionList.SiteCombinationLook" value="@RCList.SiteCombinationLook">
                            </div>
                            <label class="col-md-2 col-form-label">Action 3</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" id="Action1" name="RCActionList.Action3" value="@RCList.Action3">
                            </div>

                        </div>
                        <div class="form-group row" style="padding-left: 317px;">
                         
                            <label class="col-md-4 col-form-label">Action 4</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="Action4" name="RCActionList.Action4" value="@RCList.Action4">
                            </div>

                        </div>
                        <div class="form-group row" style="padding-left: 317px;">

                            <label class="col-md-4 col-form-label">Action 5</label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="Action5" name="RCActionList.Action5" value="@RCList.Action5">
                            </div>

                        </div>
            </div>
                    <div class="form-group  col-md-5">
                        <label class="col-form-label">Comments for Control room operator</label>
                        <textarea id="userInput" name="RCActionList.ControlRoomOperator" rows="4" cols="50">
                            @RCList.ControlRoomOperator
             </textarea>
                        <input type="hidden" name="RCActionList.Id" id="RCList_Id" value="@RCList.Id" />
                        <input type="hidden" name="RCActionList.SettingsId" id="RCList_SettingsId" value="@Model.rclistKP.SettingsId" />
                        <input type="hidden" name="RCActionList.SettingsId" id="RCList_SettingsId" value="@Model.rclistKP.SiteAlarmKeypadCode" />
                    </div>
                           
                </div>
                  </form>
            <button type="button" class="btn btn-outline-danger mr-2" id="delete_site_RCList"><i class="fa fa-trash mr-2"></i>Delete</button>
            <button type="button" class="btn btn-success" id="save_site_RC"><i class="fa fa-save mr-2"></i>Save Notes</button>
        </div>
        @*New Tab for contracted-manning end*@
        <div class="tab-pane" id="notes" role="tabpanel" aria-labelledby="notes-tab">
            <div class="container pt-3">
                <div class="row mt-3">
                    <div class="col-md-6">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="note_month">Month</label>
                                <select class="form-control" id="note_month" asp-items="@ViewDataService.GetMonthsInYear()"></select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="note_year">Year</label>
                                <select class="form-control" id="note_year" asp-items="@ViewDataService.GetYears()"></select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <form id="frm_site_note">
                                    <textarea class="form-control" name="ClientSiteKpiNote.Notes" id="ClientSiteKpiNote_Notes" maxlength="512" rows="4">@Model.NotesForThisMonth.Notes</textarea>
                                    <span id="lblSiteNoteRemainingCount" class="mt-2 d-block small"></span>
                                    <input type="hidden" name="ClientSiteKpiNote.Id" id="ClientSiteKpiNote_Id" value="@Model.NotesForThisMonth.Id" />
                                    <input type="hidden" name="ClientSiteKpiNote.SettingsId" id="ClientSiteKpiNote_SettingsId" value="@Model.NotesForThisMonth.SettingsId" />
                                    <input type="hidden" name="ClientSiteKpiNote.ForMonth" id="ClientSiteKpiNote_ForMonth" value="@Model.NotesForThisMonth.ForMonth" />
                                </form>
                            </div>
                        </div>
                        <div class="form-row mt-2">
                            <button type="button" class="btn btn-outline-danger mr-2" id="delete_site_notes"><i class="fa fa-trash mr-2"></i>Delete</button>
                            <button type="button" class="btn btn-success" id="save_site_notes"><i class="fa fa-save mr-2"></i>Save Notes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>